{% extends "base.html" %}
{% block content %}
<div class="z-depth-0 page-title-header">
<div class="container">
<h1 class="section-heading anchor-link"><span class="section_number">{{ chapter.number }}.</span> Lesson One: How Binary Digits Work</h1>
</div>
</div>
<h2 class="section-heading anchor-link"><span class="section_number">{{ chapter.number }}.1.</span> Note from the developers:</h2>
<p>We’ve noticed that once students understand how the binary number system works, they have many questions and are excited to explore the concepts outlined in this lesson further. We’ve added a lot of information into this lesson, however, it is not our intention that you will teach and cover all the concepts, but that you have at your fingertips the information you need when your students express an interest in learning more.</p>
<h2 class="section-heading anchor-link"><span class="section_number">{{ chapter.number }}.2.</span> Duration</h2>
<p>45 minutes</p>
<h2 class="section-heading anchor-link"><span class="section_number">{{ chapter.number }}.3.</span> Learning Outcomes</h2>
<p>Students will be able to:</p>
<h3 class="section-heading anchor-link"><span class="section_number">{{ chapter.number }}.3.1.</span> Computational Thinking:</h3>
<ul>
<li>Explain how a binary digit is represented using two contrasting values.</li>
<li>Demonstrate how to represent any number between 0 and 31 using binary.</li>
<li>Perform a demonstration of how the binary number system works by converting any decimal number into a binary number.</li>
<li>Justify why there aren’t 0’s and 1’s zooming around inside a computer.</li>
<li>Argue that 0’s and 1’s are still a correct way to represent what is stored in the computer.</li>
<li>Generalise recognise that we can use any two different states or things to represent binary; it doesn’t have to just be 0’s and 1’sby converting any decimal number into a binary number.</li>
<li>Justify why there aren’t 0’s and 1’s zooming around inside a computer.</li>
<li>Argue that 0’s and 1’s are still a correct way to represent what is stored in the computer.</li>
<li>Generalise recognise that we can use any two different states or things to represent binary; it doesn’t have to just be 0’s and 1’s.</li>
<li>Explain the logic of why the first bit needs to be a one. </li>
<li>Understand that we only need two values and using more isn’t needed.</li>
<li>Explain why a particular card must be visible for a given number </li>
<li>Use logical reasoning to predict what value the next card in the sequence will have (e.g. the last one is 32, what is the next one? 64. The next one? 128. Next? 256…)</li>
<li>Explain why we only need one more bit to represent twice as many numbers.</li>
</ul>
<h3 class="section-heading anchor-link"><span class="section_number">{{ chapter.number }}.3.2.</span> Curriculum Integration:</h3>
<ul>
<li>Identify that mistakes lead to new learning.</li>
<li>Arithmetic and English (This will be added when this unit is split into levels)</li>
</ul>
<h2 class="section-heading anchor-link"><span class="section_number">{{ chapter.number }}.4.</span> Resources</h2>
<ul>
<li>1 set of large binary cards from 1 to 128 dots (8 cards)</li>
<li>1 set per pair of students of student binary cards from 1 to 16 dots (5 cards)</li>
</ul>
<h2 class="section-heading anchor-link"><span class="section_number">{{ chapter.number }}.5.</span> Key Questions</h2>
<ul>
<li>What different number systems do we know about?</li>
<li>Why do we use 10 digits? What if we counted in 8s? How would we do that? </li>
</ul>
<h2 class="section-heading anchor-link"><span class="section_number">{{ chapter.number }}.6.</span> Potential answers could include</h2>
<p>Roman Numerals
Tally marks
Number bases like binary, octal and hexadecimal
Language based systems like Chinese or Ancient Egyptian
Key Questions
What is the binary number system? </p>
<h2 class="section-heading anchor-link"><span class="section_number">{{ chapter.number }}.7.</span> Lesson Starter</h2>
<ol>
<li>Hold the first 5 cards (1, 2, 4, 8 and 16 dots), but don't let students see the dots. Ask for 5 students to volunteer to be “bits”, and have them stand in a line in front of the class.</li>
<li>Hand out the 1-dot card to the person on the right. Explain that they are one "bit" (binary digit), and can be on or off, black or white, 0 or 1 dots. The only rule is that their card is either completely visible, or not visible (i.e. flipped over). Hand out the second card so that the first card is on the far right. Point out that this card has either 2 dots, or none. </li>
</ol>
<div class="row">
<div class="content col s12 m8 offset-m2 center-align" content="">
<div>{% load static %}
<a data-featherlight="image" data-featherlight-close-on-click="anywhere" href="{% static 'csunplugged/pic1.png' %}">
  <img class="responsive-img" src="{% static 'csunplugged/pic1.png' %}" />
</a>
</div>
</div>
</div>
<ol>
<li>Ask the class what the number of dots on the next card will be. Get them to explain why they think that.</li>
</ol>
<div class="clearfix">
<ul class="collapsible panel" data-collapsible="accordion">
<li class="panel-selector panel-teacher-note">
<div class="collapsible-header">
<div class="panel-heading"><strong>Teacher Note: Teaching Observations</strong></div>
<div class="dropdown-menu-arrow">▼</div>
</div>
<div class="collapsible-body">
<p>Students will usually suggest it should be three. If they suggest 4, they have probably done the activity before (or have seen the cards you are holding!) If they suggest the wrong number, don't correct them, but continue without comment, so that they can construct the rule for themselves.
</p>
</div>
</li>
</ul>
</div>
{% endblock %}
