{% extends "base-plugging-it-in.html" %}

{% load i18n %}
{% load static %}
{% load translate_url %}

{% block custom_title %}
    {% trans "CS Unplugged - Plugging It In" %}
{% endblock custom_title %}

{% block body_attribute_overrides %} class="homepage"{% endblock body_attribute_overrides %}
{% block navbar_class_overrides %} trans-navbar{% endblock navbar_class_overrides %}

{% block body_container %}
    <div id="plugging-it-in-jumbotron" class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <img src="{% static 'img/cs-unplugged-logo-plugging-it-in-white.svg' %}" class="my-5"
                        alt="CS Unplugged Plugging It In logo">
                    <h2 class="text-light">
                        {% blocktrans trimmed %}
                            Connecting Unplugged activities to coding
                        {% endblocktrans %}
                    </h2>
                    {% if LANGUAGE_CODE != "en" %}
                    <div class="alert alert-danger text-dark" role="alert">
                        {% blocktrans trimmed with language=current_language.name_local %}
                        <h4>Sorry! This item is not yet available in {{ language }}.</h4>
                        <p>This item is available in the following languages:</p>
                        {% endblocktrans %}
                        <p class="mb-0">
                            {% with language='en' %}
                            <a class="btn pii-navigation" href="{% translate_url language %}">
                                English
                            </a>
                            {% endwith %}
                            <a class="btn btn-outline-danger" href="{% url 'general:home' %}">
                                {% trans "Return to homepage "%}
                            </a>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-6 mb-4">
                <p class="lead">
                    {% blocktrans trimmed %}
                    It’s good to link the ideas covered in the Unplugged activities with the skill of programming.
                    This section allows you to program some of the Unplugged activities you have already covered.
                    There are programming challenges at a variety of levels, so choose a difficulty level that’s appropriate for you.
                    {% endblocktrans %}
                </p>
                <a href="{% url 'plugging_it_in:about' %}" class="btn pii-navigation mb-4">
                    {% trans "More information for educators" %}
                </a>
            </div>

            <div class="col-12 col-md-6 col-lg-6 text-center mb-4">
                <img class="img-fluid content-image p-3" src="{% static 'img/plugging-it-in/students-at-computers.png' %}">
            </div>
        </div>
        <div id="programming-topics" class="row justify-content-start">
            {% for topic in programming_topics %}
                <div class="col-12 mb-4">
                    <div id="card-{{ topic.slug }}" class="card {% if not topic.translation_available %} unavailable{% endif %}">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h2>{{ topic.name }}</h2>
                                    {% if topic.icon %}
                                        <img class="img-fluid d-none d-lg-block" src="{% static topic.icon %}">
                                    {% endif %}
                                </div>
                                {% if not topic.translation_available %}
                                    {% include "generic/not-available-badge.html" %}
                                {% endif %}
                            </div>
                            {% include "plugging_it_in/lessons-table.html" with grouped_lessons=topic.grouped_lessons %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body_container %}

{% block scripts %}
    <script src="{% static 'js/homepage.js' %}"></script>
{% endblock scripts %}
