{% extends "base-students.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {% trans "Plugging It In" %}
{% endblock title %}

{% block page_heading %}
  <h1>{% trans "Plugging It In" %}</h1>
{% endblock page_heading %}

{% block content %}
  {% if programming_topics %}
    <p>{% trans "[PLUGGING IT IN BLURB.....] Lorem ipsum dolor sit amet, nec metus leo pulvinar urna. Vestibulum ut, wisi neque rutrum. Euismod volutpat integer libero justo, sit erat dapibus tortor duis arcu elit, class nisl massa dictum eleifend adipiscing, a nec ridiculus risus egestas augue id. Ligula non nulla at curabitur feugiat, vestibulum sit at vestibulum nam arcu." %}</p>

    <h2 class="mt-5">Topics</h2>
    <div class="row justify-content-between">
      {% for topic in programming_topics %}
        {% if topic.programming_challenges.exists %}
          <div class="col-12 col-md-8 col-lg-6 mb-4">
            <a class="link-item no-text-decoration d-block h-100{% if not topic.translation_available %} unavailable{% endif %}" href="{% url 'plugging_it_in:topic' topic.slug %}">
              <div class="row align-items-center h-100">
                <div class="col-12 text-center text-md-{{LANGUAGE_START}}">
                  <h2>{{ topic.name }}</h2>
                  {% if not topic.translation_available %}
                    {% include "generic/not-available-badge.html" %}
                  {% endif %}
                </div>
                <div class="col-12 col-md-7 text-center text-md-{{LANGUAGE_START}}">
                  <ul class="list-unstyled list-unstyled-i18n text-muted mb-0">
                    <li>{{ topic.programming_challenges.count }} {% trans "programming challenges" %}</li>
                  </ul>
                </div>
                <div class="d-none col-md-5 d-md-flex justify-content-end align-items-end">
                  {% if topic.icon %}
                    <img class="img-fluid" src="{% static topic.icon %}">
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <p>{% trans "No topics are available." %}</p>
    {% include "generic/classic-unplugged-button.html" %}
  {% endif %}
{% endblock content %}
