{% extends "base-students.html" %}

{% load i18n %}
{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {{ topic.name }} Programming Exercises
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb topic.name "plugging_it_in:topic" topic.slug %}
  {% breadcrumb lesson.name "plugging_it_in:lesson" topic.slug lesson.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1 id="{{ lesson.slug }}">{{ lesson.name }} programming exercises</h1>
 
{% endblock page_heading %}

{% block content %}
  {% if programming_challenges %}
    <nav>
      <div class="nav nav-tabs mt-2" id="nav-tab" role="tablist">
        {% for language in lesson.challenge_languages %}
          <a class="nav-item nav-link {% if forloop.first %}active{% endif %} {% if language.name == "Scratch" %}disabled{% endif %}" id="{{language.name}}" data-toggle="tab" href="#nav-{{language.name}}" role="tab" aria-controls="{{language.name}}" aria-selected="false">
            {{language.name}}
            <img src="{% get_static_prefix %}{{ language.icon }}" class="inline-image-small pl-1" />
          </a>
        {% endfor %}
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      {% for language in lesson.challenge_languages %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="nav-{{language.name}}" role="tabpanel" aria-labelledby="{{language.name}}">
          {% include "plugging_it_in/programming-challenges-table.html" with language=language.name %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>{% blocktrans trimmed %}No programming challenges for {{ topic }}.{% endblocktrans %}</p>
  {% endif %}
{% endblock content %}
