{% extends "base-students.html" %}

{% load i18n %}
{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {{ programming_challenge.name }}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Plugging It In" "plugging_it_in:index" %}
  {% breadcrumb topic.name "plugging_it_in:topic" topic.slug %}
  {% breadcrumb lesson.name "plugging_it_in:lesson" topic.slug lesson.slug %}
  {% breadcrumb programming_challenge.name "plugging_it_in:programming_challenge" topic.slug lesson.slug programming_challenge.slug %}
{% endblock breadcrumbs %}

{% block body_container %}

<div class="row programming__challenge-screen">

  <div id="my_sidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" id="close_nav_button">&times;</a>
    
    <div class='sidebar-headings'>
      <a href="{% url "plugging_it_in:topic" topic.slug %}">
        <h5 class='topic-subheading'>{{topic.name}}</h5>
      </a>
      <a href="{% url "plugging_it_in:lesson" topic.slug lesson.slug %}">
        <h2 class='lesson-heading'>{{lesson.name}}</h2>
      </a>
      <a href="{% url 'topics:lesson' topic.slug lesson.unit_plan.slug lesson.slug %}">
        <p>{% trans "Jump to the CS Unplugged Lesson" %}</p>
      </a>
    </div>

    <hr>

    <p class='challenges-heading'>{% trans "Challenges" %}</p>
    <ol class='challenges-list'>
        {% for programming_challenge_item in programming_challenges %}
        <a href="{% url 'plugging_it_in:programming_challenge' topic.slug lesson.slug programming_challenge_item.slug %}">
         <li class="{% if programming_challenge.slug == programming_challenge_item.slug %}current-exercise{% endif %}">
          <span class="badge badge-primary">
            <h5>{{ programming_challenge_item.challenge_set_number }}.{{ programming_challenge_item.challenge_number }}</h5>
          </span> 
          {{ programming_challenge_item.name }}
          </li>
        </a>
        {% endfor %}
    </ol>
  </div>

  <div id="sidebar_overlay">
  </div>

  {% if programming_challenge.translation_available %}
    <div class="col-12 col-md-4 programming__info-area">

    <div class="programming__info-area-content">
      {% block page_heading %}
        <h1>
          {{ programming_challenge.name }}
        </h1>
        {% if not programming_challenge.translation_available %}
          {% with model=programming_challenge parent=topic %}
            {% include 'topics/not-available-warning.html' %}
          {% endwith %}
        {% else %}
          <p class="w-100 text-white rounded p-2 mt-3 difficulty-level-{{ programming_challenge.difficulty.level }}">
            <strong>{% trans "Challenge Level:" %}</strong> {{ programming_challenge.difficulty.name }}
          </p>
        {% endif %}
      {% endblock page_heading %}

      {% render_html_field programming_challenge.content %}

      {% comment %} Challenge Hints {% endcomment %}
      {% for implementation in implementations %}
          {% if implementation.language.name == "Python" and implementation.hints %}
            <details>
              <summary>
                <strong>
                  {% trans "Hints" %}
                </strong>
              </summary>

              <div class="boxed-text-content">
                {% render_html_field implementation.hints %}
              </div>
            </details>
          {% endif %}
        {% endfor %}

      {% comment %} Programming syntax reminders {% endcomment %}
      <details>
        <summary>
          <strong>{% trans "Programming Reminders" %}</strong>
        </summary>
        <div class="boxed-text-content">
          {% include "plugging_it_in/static-syntax-hints.html" %}
        </div>
      </details>

      </div>
    </div>
    <div class="col-12 col-md-4 programming__editor">
      <p class='pii-block-heading'>Enter your code in the editor below</p>
      <textarea id="codemirror_editor"></textarea>
      <div class="programming__submit d-flex justify-content-between align-items-center">
        <div class="programming__submit_options d-flex justify-content-start">
          <button class="editor_button" id="editor_run_button" >Check</button>
          <button class="editor_button" id="download_button" >Download</button>
        </div>
        <div class="code_running_spinner spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 programming__results">
      <p class='pii-block-heading'>Your results will be displayed here</p>
      {% include "plugging_it_in/results-table.html" %}
    </div>
  {% endif %}
</div>

<div class="col-12 programming__options">
  <div class="row progression-options">
    <div class="col-sm-4 col-6 order-2 order-sm-1 d-flex align-items-center my-1">
      <a id='prev_challenge_button'>
        <button class="btn prev">Previous Challenge</button>
      </a>
    </div>
    <div class="progression-info col-sm-4 col-12 order-1 order-sm-2 my-2">
      <p id="challenge_progression_text"></p>
      <p id="lessons_nav_toggle">(Click here to select a challenge)</p>
    </div>
    <div class="col-sm-4 col-6 order-3 order-sm-3 d-flex justify-content-end align-items-center my-1">
      <a id='next_challenge_button'>
        <button class="btn next">Next Challenge</button>
      </a>
    </div>
  </div>
</div>

{% endblock body_container %}

{% block end_content %}
  {% if programming_challenge.translation_available %}
    {% if programming_challenge.extra_challenge %}
      <h2>{% trans "Extra Challenge" %}</h2>
      {% render_html_field programming_challenge.extra_challenge %}
    {% endif %}
  {% endif %}
{% endblock end_content %}

{% block scripts %}
  <link rel="stylesheet" href="{% static 'css/programming-editor.css' %}" >

  <script type="text/javascript">
    let current_challenge_slug = '{{ programming_challenge.slug }}';
    let test_cases = {{ test_cases_json|safe }};
    let programming_exercises = {{ programming_exercises_json|safe }};
    let lesson_url = "{% url 'plugging_it_in:lesson' topic.slug lesson.slug %}";
    let csrf_token = '{{ csrf_token }}';
    let jobe_proxy_url = '{{ jobe_proxy_url }}';
  </script>

  <script src="{% static 'js/jobe-editor.js' %}"></script>
  <script src="{% static 'js/editor-options-menu.js' %}"></script>

  {% comment %} Add in highlight.js for code highlighting {% endcomment %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/xcode.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
