{% extends "base-students.html" %}

{% load i18n %}
{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {{ programming_challenge.name }}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Plugging It In" "plugging_it_in:index" %}
  {% breadcrumb topic.name "plugging_it_in:topic" topic.slug %}
  {% breadcrumb lesson.name "plugging_it_in:lesson" topic.slug lesson.slug %}
  {% breadcrumb programming_challenge.name "plugging_it_in:programming_challenge" topic.slug lesson.slug programming_challenge.slug %}
{% endblock breadcrumbs %}

{% block body_container %}

<div class="row programming__challenge-screen">


<div id="my_sidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" id="close_nav_button">&times;</a>
    
    <div class='sidebar-headings'>
      <h2 class='lesson-heading'>{{lesson.name}}</h2>
      <h5 class='topic-subheading'>{{topic.name}}</h5>
    </div>

    <hr>

    <p class='challenges-heading'>Challenges</p>
    <ol class='challenges-list'>
        {% for programming_challenge in programming_challenges %}
        <a href="{% url 'plugging_it_in:programming_challenge' topic.slug lesson.slug programming_challenge.slug %}">
         <li>{{ programming_challenge.challenge_set_number }}.{{ programming_challenge.challenge_number }} {{ programming_challenge.name }}</li>
        </a>
        {% endfor %}
    </ol>
</div>

<div id="sidebar_overlay">
</div>

{% if programming_challenge.translation_available %}
  <div class="col-12 col-md-4 programming__info-area">

  <div class="programming__info-area-content">
    {% if not programming_challenge.translation_available %}
      {% with model=programming_challenge parent=topic %}
        {% include 'topics/not-available-warning.html' %}
      {% endwith %}
    {% else %}
      <p class="w-100 text-white rounded p-2 mt-3 difficulty-level-{{ programming_challenge.difficulty.level }}">
        <strong>{% trans "Challenge Level:" %}</strong> {{ programming_challenge.difficulty.name }}
      </p>
    {% endif %}

    {% if lessons %}
      <div class="alert alert-info" role="alert">
        <p>{% trans "This programming challenge is linked to the following lessons:" %}</p>

        <ul class="mb-0">
          {% for lesson in lessons %}
            <li>
              <a href="{% url 'topics:lesson' topic.slug lesson.unit_plan.slug lesson.slug %}">
                {% blocktrans with set_num=lesson.challenge_set_number chal_num=lesson.challenge_number name=lesson.name trimmed %}
                {{ name }}
                {% endblocktrans %}
                ({% for age_group in lesson.age_group.all %}{% blocktrans with lower=age_group.ages.lower upper=age_group.ages.upper trimmed %}{{ lower }} to {{ upper }}{% endblocktrans %}{% if not forloop.last %}, {% endif %}{% endfor %})
              </a>
              {% if not lesson.translation_available %}
                {% include 'generic/not-available-badge.html' %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if learning_outcomes %}
      <details class="panel-learning-outcomes">
        <summary>
          <strong>{% trans "Learning outcomes" %}</strong>
          <img class="inline-image" src="{% static 'img/general/outcomes.png' %}">
        </summary>
        <div class="boxed-text-content">
          <p>{% trans "Students will be able to:" %}</p>
          <ul>
            {% for learning_outcome in learning_outcomes %}
            <li>
              {{ learning_outcome.text }}<br>
              {% for area in learning_outcome.curriculum_areas.all %}
                {% include "topics/curriculum-area-badge.html" %}
              {% endfor %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </details>
    {% endif %}

    {% render_html_field programming_challenge.content %}
    </div>
  </div>
  <div class="col-12 col-md-4 programming__editor">
    <textarea id="codemirror_editor"># Start Coding Here.</textarea>
    <div class="programming__submit d-flex justify-content-between align-items-center">
      <div class="programming__submit_options d-flex justify-content-start">
        <button class="editor_button" id="editor_run_button" >CHECK</button>
        <button class="editor_button" id="download_button" >DOWNLOAD</button>
      </div>
      <div class="code_running_spinner spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 programming__results">
    {% include "plugging_it_in/results-table.html" %}
  </div>
{% endif %}
</div>

<div class="col-12 row programming__options d-flex justify-content-between align-items-center">
  <div class="col-4 lesson-nav d-flex justify-content-start align-items-center">
    <button id="lessons_nav_toggle" class="btn"><i class="fa fa-bars"></i></button>
    <p>{{programming_challenge.name}}</p>
  </div>

  <div class="col-4 progression-options d-flex justify-content-around align-items-center">
    <a id='prev_challenge_button'>
      <button  class="btn prev">Previous Challenge</button>
    </a>
    <p id="challenge_progression_text"></p>
    <a id='next_challenge_button'>
      <button class="btn next">Next Challenge</button>
    </a>
  </div>

  <a class="col-4 d-flex justify-content-end lesson-link" href="{% url "plugging_it_in:lesson" topic.slug lesson.slug %}">
    <p >{{lesson.name}}</p>
  </a>
</div>

{% endblock body_container %}

{% block end_content %}
  {% if programming_challenge.translation_available %}
    {% if programming_challenge.extra_challenge %}
      <h2>{% trans "Extra Challenge" %}</h2>
      {% render_html_field programming_challenge.extra_challenge %}
    {% endif %}
  {% endif %}
{% endblock end_content %}

{% block scripts %}
  <link rel="stylesheet" href="{% static 'css/programming-editor.css' %}" >

  <script type="text/javascript">
    let current_challenge_slug = '{{ programming_challenge.slug }}';
    let test_cases = {{ test_cases_json|safe }};
    let programming_exercises = {{ programming_exercises_json|safe }};
    let lesson_url = "{% url 'plugging_it_in:lesson' topic.slug lesson.slug %}";
    let csrf_token = '{{ csrf_token }}';
    let jobe_proxy_url = '{{ jobe_proxy_url }}';
  </script>

  <script src="{% static 'js/jobe-editor.js' %}"></script>
  <script src="{% static 'js/editor-options-menu.js' %}"></script>
{% endblock scripts %}
