<div class="pl-2">

    <h5>Print Statements</h5>
    <pre><code class="python"># Print a string directly
print("Hello World!")

# Print a variable
print(my_var)</code></pre>

    <h5>Variables</h5>
    <pre><code class="python"># Set a variable as a string
fruit_name = "Apple"

# Set a variable as an integer 
pieces_of_fruit = 7

# Set a variable from a calculation
cost_of_fruit = pieces_of_fruit * cost_per_item

# Add one to a value
pieces_of_fruit += 1</code></pre>

    <h5>Conditionals</h5>
    <pre><code class="python"># Find out the discount on fruit
if pieces_of_fruit > 100:
   print(“Bulk discount applies”)
elif pieces_of_fruit > 5:
   print(“Discount applies”)
else:
   print(“No discount”)
    </code></pre>

    <h5>For Loops</h5>
    <pre><code class="python"># Print numbers 0-9 - remember Python starts counting from 0 
for num in range(10):
    print(num)</code></pre>

    <h5>While Loops</h5>
    <pre><code class="python"># Print numbers 0-9 using a while loop and a variable
num = 0
while num < 10:
    print(num)

    # Increment the variable by one.
    # It will prevent an infinite loop!
    num += 1 </code></pre>

    <h5>Lists</h5>
    <pre><code class="python"># Create a list of fruit 
fruit = ["Apple", "Banana", "Orange", "Pear"]</code></pre>

    <h5>Functions</h5>
    <pre><code class="python"># Create a function which prints a greeting
def greeting(name):
    print("Hello " + name)

# Call the function
greeting("Spiderman")</code></pre>

</div>
