sudo: required
services:
  - docker
language: python
python:
  - '3.6'
before_install:
  # See https://github.com/travis-ci/travis-ci/issues/7940
  - sudo rm -f /etc/boto.cfg
install:
  - sudo docker --version
  - sudo docker-compose --version
jobs:
  include:
    - stage: test
      name: "Load content"
      script: ./csu ci load_content
    - script: ./csu ci test_general
      name: "Run general tests"
    - script: ./csu ci test_resources
      name: "Run resource tests"
    - script: ./csu ci test_management
      name: "Run management tests"
    - script: ./csu ci test_backwards
      name: "Run test suite backwards"
      if: type = pull_request
    - script: ./csu ci style
      name: "Run style checker"
    - script: ./csu ci docs
      name: "Build documentation"
    - stage: develop deploy
      name: "Deploy app to Google App Engine"
      script: skip
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-app.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy static files to Google Storage Bucket"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-static-files.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Update Google Cloud Platform database"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/update-database.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 1"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-1.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 2"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-2.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 3"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-3.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 4"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-4.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 5"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-5.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 6"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-6.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 7"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-7.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 8"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-8.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 9"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-9.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 10"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-10.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 11"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-11.sh
          skip_cleanup: true
          on:
            branch: develop
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 12"
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/deploy-resources-12.sh
          skip_cleanup: true
          on:
            branch: develop
    - stage: production deploy
      script: skip
      name: "Deploy app to Google App Engine"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-app.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy static files to Google Storage Bucket"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-static-files.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Update Google Cloud Platform database"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/update-database.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 1"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-1.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 2"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-2.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 3"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-3.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 4"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-4.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 5"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-5.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 6"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-6.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 7"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-7.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 8"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-8.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 9"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-9.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 10"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-10.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 11"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-11.sh
          skip_cleanup: true
          on:
            branch: master
    - script: skip
      name: "Copy resource PDFs to Google Storage Bucket - Part 12"
      deploy:
        - provider: script
          script: bash ./infrastructure/prod-deploy/deploy-resources-12.sh
          skip_cleanup: true
          on:
            branch: master
notifications:
  email: false
  slack:
    rooms: deptfunstuff:abJKvzApk5SKtcEyAgtswXAv
    on_success: change
    on_failure: change
stages:
  - name: test
  - name: develop deploy
    if: branch = develop
  - name: production deploy
    if: branch = master
