sudo: required
services:
  - docker
env:
  - DOCKER_COMPOSE_VERSION=1.11.2
language: python
python:
  - '3.6'
install:
  - sudo docker --version
  - sudo docker-compose --version
jobs:
  include:
    - stage: build
      script: ./infrastructure/docker-build.sh

    - stage: test
      script:
        - ./csu start
        - ./csu dev test
        - ./csu dev test_backwards
        - ./csu dev style
        - ./csu dev docs

    - stage: deploy
      script: skip
      deploy:
        - provider: script
          script: bash ./infrastructure/dev-deploy/dev-deploy.sh
          skip_cleanup: true
          on:
            branch: develop
        - provider: script
          script: bash ./infrastructure/prod-deploy/prod-deploy.sh
          skip_cleanup: true
          on:
            branch: master
after_script:
  - "./csu dev test_coverage"
  - bash <(curl -s https://codecov.io/bash)
notifications:
  email: false
  slack:
    rooms: deptfunstuff:abJKvzApk5SKtcEyAgtswXAv
    on_success: change
    on_failure: change
