// Default mixins and settings -----------------
@import "node_modules/reveal.js/css/theme/template/mixins";
@import "node_modules/reveal.js/css/theme/template/settings";
@import "core-variables";

// Background of the presentation
$backgroundColor: $background-colour;

// Primary/body text
$mainFont: $font-family-sans-serif;
$mainFontSize: 3em;
$mainColor: #222;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: $headings-font-family;
$headingColor: #222;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

$codeFont: monospace;

// Links and actions
$linkColor: #2a76dd;
$linkColorHover: lighten($linkColor, 20%);

// Text selection
$selectionBackgroundColor: $at-a-distance-colour;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
    background: $backgroundColor;
}

// Change text colors against dark slide backgrounds
// @include dark-bg-text-color(#fff);

// Custom theme rules

#slides {

    // Font
    @for $i from 1 through 20 {
        .r-font-size-#{$i} {
            font-size: $i * 0.5em;
        }
    }
    .r-left-align {
        text-align: left;
    }
    .r-bold {
        font-weight: bold;
    }
    p {
        margin: 0 0 1rem;
    }
    p:last-child {
        margin: 0;
    }

    // Colour overrides
    .r-text-green {
        color: #17BA1F;
    }
    .r-text-blue {
        color: #0F70B7;
    }
    .r-text-purple {
        color: #82358C;
    }
    .r-text-red {
        color: #E30613;
    }
    .r-text-yellow {
        color: #F0DA18;
    }
    .r-text-black {
        color: black;
    }
    .r-text-white {
        color: white;
    }

    // Layout
    .r-flex {
        top: 0;
        bottom: 0;
        display: flex !important;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .r-flex-grow {
        flex-grow: 1;
    }

    .r-grid {
        display: grid;
    }
    .r-grid-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
    .r-flex-align-items-center {
        align-items: center;
    }
    .r-flex-justify-content-center {
        justify-content: center;
    }

    // Title slide
    .r-title-slide {
        img {
            max-width: 40%;
        }
    }

    // Other
    iframe {
        border: none;
    }
    &.embed-responsive .reveal .slides section iframe {
        position: initial;
    }
}

// Footer
$footer-height: 5%;  // To ensure matches slide dimensions
$footer-padding: 8px;
.reveal > .footer {
    position: absolute;
    height: $footer-height;
    bottom: $footer-padding;
    left: 5px;
    width: 80%;
    z-index: 0;  // Hidden behind backgrounds
    display: flex;
    align-items: flex-end;

    img {
        margin: 0;
    }
}
.reveal.has-dark-background > .footer {
    color: white;
}

/*
Spacer to prevent the content from running into the footer.
From https://github.com/hakimel/reveal.js/issues/2707#issuecomment-647708919
*/
.reveal .slides section::after {
    content: ' ';
    display: block;
    height: $footer-height;
}


@import "node_modules/reveal.js/css/theme/template/theme";
