{% extends "general/base.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "About" "general:about" %}
{% endblock breadcrumbs %}

{% block content %}
  <h1>{% trans 'About' %}</h1>

  <p>
    CS Unplugged is a collection of free learning activities that teach Computer Science through engaging games and puzzles that use cards, string, crayons and lots of running around.
    We originally developed this so that young students could dive head-first into computer science, experiencing the kinds of questions and challenges that computer scientists experience, but without having to learn programming first.
  </p>

  <p>
    The collection was originally intended as a resource for outreach and extension, but with the adoption of computing and computational thinking into many classrooms around the world, it is now widely used for teaching.
    The material has been used in many contexts outside the classroom as well, including science shows, talks for senior citizens, and special events.
  </p>

  <p>
    Thanks to generous sponsorships we have been able to create associated resources such as the videos, which are intended to help teachers see how the activities work (please don’t show them to your classes – let them experience the activities themselves!).
    All of the activities that we provide are “open source” – they are released under a Creative Commons BY-NC-SA licence, so you can copy, share and modify the material.
  </p>

  <p>
    For details on how to contact us, see our <a href="{% url 'general:contact' %}">contact us page</a>.
  </p>

  <p>
    For more information about the principles behind CS Unplugged, see our <a href="{% url 'general:principles' %}">principles page</a>.
  </p>
{% endblock %}
