{% extends "columns.html" %}

{% load i18n %}

{% block right_column_content %}
  <h4>{% trans "About pages" %}</h4>

  <nav class="nav flex-column">
    <a class="nav-link" href="{% url 'general:about' %}">{% trans "About" %}</a>
    <a class="nav-link" href="{% url 'general:computational_thinking' %}">{% trans "Computational Thinking and CS Unplugged" %}</a>
    <a class="nav-link" href="{% url 'general:principles' %}">{% trans "Principles" %}</a>
    <a class="nav-link" href="{% url 'general:people' %}">{% trans "People" %}</a>
    <a class="nav-link" href="{% url 'general:contact' %}">{% trans "Contact Us" %}</a>
  </nav>
{% endblock right_column_content %}
