{% extends "general/base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {% trans "Contact" %}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "About" "general:about" %}
  {% breadcrumb "Contact" "general:contact" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>{% trans "Contact Us" %}</h1>
{% endblock page_heading %}

{% block left_column_content %}
  <p>
    {% blocktrans %}
    <strong>Email:</strong> You can <a href="mailto:csse.education.research@gmail.com">email the CS Unplugged team here</a>.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
    <strong>Twitter:</strong> <a href="https://twitter.com/UCCSEd">@UCCSEd</a>
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
    <strong>Community Google Group:</strong> We have a <a href="https://groups.google.com/forum/#!forum/cs-unplugged-sharing">Google Group</a> you can join and talk about CS Unplugged.
    {% endblocktrans %}
  </p>
{% endblock left_column_content %}
