{% extends "general/base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "About" "general:about" %}
  {% breadcrumb "Contact" "general:contact" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>{% trans "Contact Us" %}</h1>
{% endblock page_heading %}

{% block left_column_content %}
  <p>
    <strong>Email:</strong> CS Unplugged is directed by Tim Bell.
    You can <a href="mailto:tim.bell@canterbury.ac.nz">email him here</a>.
  </p>

  <p>
    <strong>Twitter:</strong> <a href="https://twitter.com/UCCSEd">@UCCSEd</a>
  </p>

  <p>
    <strong>Community Google Group:</strong> We have a <a href="https://groups.google.com/forum/#!forum/cs-unplugged-sharing">Google Group</a> you can join and talk about CS Unplugged.
  </p>
{% endblock left_column_content %}
