{% extends "base-educators.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {% trans "How do I teach CS Unplugged?" %}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "How do I teach CS Unplugged?" "general:how_do_i_teach_cs_unplugged" %}
{% endblock breadcrumbs %}

{% block body_container %}
  <div id="content-container" class="container">
    <div class="row justify-content-center">
      <div id="general-page-content" class="col-12 col-md-10 col-lg-8">
        {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
        <h1>{% trans "How do I teach CS Unplugged?" %}</h1>

        <p>
          {% blocktrans trimmed %}
            CS Unplugged is very much based on a constructivist approach: students are given challenges based on a few simple rules, and in the process of solving those challenges they uncover powerful ideas on their own.
            Not only is this a more memorable way to learn, but it empowers them to realise that these are ideas within their grasp.
            The activities are also very kinesthetic - the bigger the materials, the better.
          {% endblocktrans %}
        </p>

        <div class="img-container img-wrap-right">
          <img src="{% static "img/general/what-is-csu.png" %}">
        </div>

        <p>
          {% blocktrans trimmed %}
            Because of this approach, you can also learn alongside the students.
            You'll need to read through the whole activity so that you're prepared for it, and we have provided videos for many of them so you can visualise them, but as the students discover how these ideas work out, you'll start to see patterns and ideas that the students are discovering as they understand the principles behind these topics from Computer Science.
          {% endblocktrans %}
        </p>

        <p>
          {% blocktrans trimmed %}
            If you're working within a school curriculum, you can find appropriate activities based on the learning objectives and age group.
            In several countries there are guides linking CS Unplugged to the local curriculum (e.g. <a href="https://www.digitaltechnologieshub.edu.au/">Digital Technologies Hub for Australia</a>).
            But the unit plans listed follow the common topics that are appearing in school curricula, so you are likely to find something relevant from the titles.
          {% endblocktrans %}
        </p>

         <p>
          {% url "plugging_it_in:index" as plugging_it_in_url %}
          {% blocktrans trimmed %}
            Note that CS Unplugged does not teach programming, but it does provide ways to support students with programming. There are activities such as Kidbots that provide an excellent lead into the ideas they will encounter when programming (such as sequence and debugging). There are also "Plugging it in" challenges that give some programming exercises to follow up from an Unplugged activity. These don’t teach students how to program, but give them a chance to exercise their programming skills in a context relevant to an Unplugged activity that they have just experienced. There’s more information about using these <a href={{ plugging_it_in_url }}>here</a>.
          {% endblocktrans %}
        </p>

        <p>
          {% blocktrans trimmed %}
            But reading about Unplugged isn't the fun way to engage with it - pick a lesson for your students, and dive into it!
          {% endblocktrans %}
        </p>

        <p>
          <a href="{% url 'topics:index' %}" class="btn btn-outline-primary">
            {% trans "View available topics" %}
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock body_container %}
