{% extends "base-educators.html" %}

{% load i18n %}
{% load static %}

{% block custom_title %}
    {% trans "CS Unplugged" %}
{% endblock custom_title %}

{% block extra_body_classes %}no-padding{% endblock extra_body_classes %}
{% block navbar_class_overrides %} trans-navbar{% endblock navbar_class_overrides %}

{% block body_container %}
    <div id="educator-jumbotron" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center text-white text-shadow">
                {% blocktrans trimmed %}
                    Computer Science<br>without a computer
                {% endblocktrans %}
            </h1>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <p class="lead text-light text-wrap text-shadow">
                        {% blocktrans trimmed %}
                            CS Unplugged is a collection of free teaching material that teaches Computer Science through engaging games and puzzles that use cards, string, crayons and lots of running around.
                        {% endblocktrans %}
                    </p>
                    {% if LANGUAGE_CODE == "en" %}
                        <a class="btn btn-info text-wrap mb-4" role="button" href="{% url 'moocs:index' %}">
                            <strong>New online course for educators available</strong> - Click here to learn more
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="homepage-cards" class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <a class="link-item link-item-top link-item-top-blue no-text-decoration d-block h-100" href="{% url 'general:what_is_cs' %}">
                    <div class="img-container d-flex justify-content-center align-items-center">
                        <img class="img-fluid" src="{% static "img/general/what-is-cs.png" %}">
                    </div>
                    <h2 class="mb-0">
                        {% trans "What is Computer Science?" %}
                    </h2>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <a class="link-item link-item-top link-item-top-yellow no-text-decoration d-block h-100" href="{% url 'general:how_do_i_teach_cs_unplugged' %}">
                    <div class="img-container d-flex justify-content-center align-items-center">
                        <img class="img-fluid" src="{% static "img/general/how-do-i-teach-this.png" %}">
                    </div>
                    <h2 class="mb-0">
                        {% trans "How do I teach CS Unplugged?" %}
                    </h2>
                </a>
            </div>
        </div>
        <div id="homepage-cards-columns" class="row justify-content-center text-center">
            <div class="col-12 col-md-4 mb-4">
                <h2 class="educator-colour">For educators</h2>
                <a class="link-item link-item-top link-item-top-educator-1 no-text-decoration d-block mb-3" href="{% url 'topics:index' %}">
                    <h3 class="mb-0">
                        {% trans "Topics" %}
                    </h3>
                </a>
                <a class="link-item link-item-top link-item-top-educator-2 no-text-decoration d-block mb-3" href="{% url 'resources:index' %}">
                    <h3 class="mb-0">
                        {% trans "Printables" %}
                    </h3>
                </a>
                <a class="link-item link-item-top link-item-top-educator-3 no-text-decoration d-block mb-3" href="{% url 'topics:all_curriculum_integrations' %}">
                    <h3 class="mb-0">
                        {% trans "Curriculum Integrations" %}
                    </h3>
                </a>
                <a class="link-item link-item-top link-item-top-educator-4 no-text-decoration d-block mb-3" href="{% url 'moocs:index' %}">
                    <h3 class="mb-0">
                        {% trans "Online Courses" %}
                    </h3>
                </a>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <h2 class="at-home-colour">At home</h2>
                <a class="link-item link-item-top link-item-top-at-home-1 no-text-decoration d-block mb-3" href="{% url 'at_home:index' %}">
                    <h3 class="mb-0">
                        {% trans "Activities" %}
                    </h3>
                    {% if LANGUAGE_CODE != "en" %}
                        {% include "generic/not-available-badge.html" %}
                    {% endif %}
                </a>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <h2 class="plugging-it-in-colour">For students</h2>
                <a class="link-item link-item-top link-item-top-plugging-it-in-1 no-text-decoration d-block mb-3" href="{% url 'plugging_it_in:index' %}">
                    <h3 class="mb-0">
                        {% trans "Plugging it in" %}
                    </h3>
                    {% if LANGUAGE_CODE != "en" %}
                        {% include "generic/not-available-badge.html" %}
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="text-center my-5">
            <p class="lead mb-2">The original activities are still available at</p>
            <a class="no-text-decoration d-inline-block" href="https://classic.csunplugged.org/">
                <img class="img-fluid" id="classic-cs-unplugged-logo" src="{% static 'img/cs-unplugged-classic-logo.svg' %}" alt="{% trans "Classic CS Unplugged" %}">
            </a>
        </div>
    </div>
{% endblock body_container %}

{% block scripts %}
    <script src="{% static 'js/homepage.js' %}"></script>
{% endblock scripts %}
