{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block custom_title %}
  CS Unplugged
{% endblock custom_title %}

{% block body_container %}
  <div class="row">
    <div class="jumbotron jumbotron-fluid py-5 mt-0">
      <div class="container">
        <h1 class="display-3 text-center">
          {% trans 'Computer Science' %}<br>
          {% trans 'without a computer' %}
        </h1>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-12 col-md-2 hidden-sm-down">
        <img class="img-fluid" src="{% static "img/general/computer-searching.png" %}">
      </div>
      <div class="col-12 col-md-8">
        <p class="lead text-center">
          CS Unplugged is a collection of free teaching material that teaches Computer Science through engaging games and puzzles that use cards, string, crayons and lots of running around.
        </p>
        <p class="lead text-center">
          The resources available to teachers include unit plans, lesson plans, teaching videos, curriculum integration activities, and programming exercises to plug in the Computer Science concepts they have just learnt unplugged.
        </p>
      </div>
      <div class="col-12 col-md-2 hidden-sm-down">
        <img class="img-fluid" src="{% static "img/general/detective.png" %}">
      </div>
    </div>

    <div class="link-box-container justify-content-between">
      <a class="link-box link-box-md-3 link-box-blue" href="{% url 'general:about' %}">
        <img class="img-fluid" src="http://via.placeholder.com/200x200?text=Placeholder">
        <h2 class="link-box-title">What is Computer Science?</h2>
      </a>
      <a class="link-box link-box-md-3 link-box-orange" href="{% url 'topics:index' %}">
        <img class="img-fluid" src="http://via.placeholder.com/200x200?text=Placeholder">
        <h2 class="link-box-title">What is CS Unplugged?</h2>
      </a>
      <a class="link-box link-box-md-3 link-box-green" href="{% url 'topics:index' %}">
        <img class="img-fluid" src="http://via.placeholder.com/200x200?text=Placeholder">
        <h2 class="link-box-title">How do I teach this?</h2>
      </a>
    </div>

    <ul class="list-inline w-100 text-center mt-5">
      <li class="list-inline-item h4 mx-5">
        <a href="{% url 'topics:index' %}">Topics</a>
      </li>
      <li class="list-inline-item h4 mx-5">
        <a href="{% url 'topics:all_curriculum_integrations' %}">Curriculum Integrations</a>
      </li>
      <li class="list-inline-item h4 mx-5">
        <a href="{% url 'resources:index' %}">Resources</a>
      </li>
      <li class="list-inline-item h4 mx-5">
        <a href="http://csunplugged.org/">Classic CS Unplugged</a>
      </li>
    </ul>
  </div>
{% endblock body_container %}
