{% extends "general/about.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "People" "general:people" %}
{% endblock breadcrumbs %}

{% block content %}
  <h1>{% trans 'People' %}</h1>

  <h2>Founders</h2>

  <ul>
    <li>Tim Bell - University of Canterbury</li>
    <li>Ian Witten - University of Waikato</li>
    <li>Michael Fellows - Charles Darwin University</li>
  </ul>

  <h2>Advisers</h2>

  <ul>
    <li>Craig Neville-Manning - Google</li>
    <li>Peter J Denning - Computer Scientist</li>
  </ul>

  <h2>Current Team</h2>

  <ul>
    <li>Tim Bell - Founder &amp; Content Writer</li>
    <li>Caitlin Duncan - Content Writer</li>
    <li>Tracy Henderson - Content Writer</li>
    <li>Behshid Ghorbani - Content Writer</li>
    <li>Sarang Love Leehan - Founder &amp; Writer</li>
    <li>Hayley van Waas - Technical Team</li>
    <li>Hayden Jackson - Technical Team</li>
    <li>Jack Morgan - Technical Team</li>
  </ul>

  <h2>Classic CS Unplugged</h2>

  <h3>Contributors</h3>

  <ul>
    <li>Alfonso Rodriguez (USA)</li>
    <li>Amitrajit Sarkar (New Zealand)</li>
    <li>Anna Wingkvist (Sweden)</li>
    <li>Anne Berry (France)</li>
    <li>Benny Chor (Israel)</li>
    <li>Bruce Webster (New Zealand)</li>
    <li>Clara Eugenia</li>
    <li>Constantine Mousafiris (Greece)</li>
    <li>Faisal Hasan (Bangladesh)</li>
    <li>Garza (Mexico)</li>
    <li>Giovanni Michele Bianco (Italy)</li>
    <li>Irina Derevianko (Russia)</li>
    <li>Katharina Kranzdorf (Germany)</li>
    <li>Long-Yuan Ya</li>
    <li>Lorena Mendoza (United States)</li>
    <li>Luciano Porto Barreto (Brazil)</li>
    <li>Lukasz Nitschke (Poland)</li>
    <li>Mohammed Obaid (New Zealand)</li>
    <li>Mäxl Stege (Germany)</li>
    <li>Paul Gibson (France)</li>
    <li>Pawel Perekietka (Poland)</li>
    <li>Professor Lee</li>
    <li>Renzo Davoli Bologna (Italy)</li>
    <li>Sertan Girgin (Turkey)</li>
    <li>Shenglan Wang</li>
    <li>Shimon Schocken (Israel)</li>
    <li>Sook Kyoung Choi</li>
    <li>SuYu (China)</li>
    <li>Swami Manohar (India)</li>
    <li>Theophanis Hatzigrivas (Greece)</li>
    <li>Tom Verhoe</li>
    <li>Yingchun Han (China)</li>
  </ul>

  <h3>Advisers</h3>

  <ul>
    <li>Alfred Thompson</li>
    <li>Allen Tucker</li>
    <li>Andy Seymour (USA)</li>
    <li>Anna Charny (US)</li>
    <li>Bengt Aspvall (Sweden)</li>
    <li>David Vogt</li>
    <li>Den Tsutom Wada (Japan)</li>
    <li>Geri Lorway (Canada)</li>
    <li>Harold Thimbleby (UK)</li>
    <li>Lee Won Gyu</li>
    <li>Len Wagner (USA)</li>
    <li>Lenore Blum (USA)</li>
    <li>Lynn Lambert (USA)</li>
    <li>Mindy Hard (USA)</li>
    <li>Pam Hagen (Canada)</li>
    <li>Paul Gibson (France)</li>
    <li>Peter Henderson</li>
    <li>Rachel Kestenbaum (USA)</li>
    <li>Rick Dipaolo (USA)</li>
    <li>Robb Cutler (USA)</li>
    <li>Sam Chung (USA)</li>
    <li>Susumu Kanemune (Japan)</li>
    <li>Todd Seymour (USA)</li>
    <li>Tom Cortina (USA)</li>
    <li>Xie Xie (China)  </li>
  </ul>

  <h3>Website</h3>

  <ul>
    <li>Sam Jarman (New Zealand)</li>
    <li>Tim Bell (New Zealand)</li>
    <li>Isaac Freeman (New Zealand)</li>
    <li>Renzo Davoli (Italy)</li>
    <li>Su Yu (China)</li>
    <li>Murugesh and Bruce Webster (New Zealand)</li>
  </ul>

  <h2>Parrots</h2>

  <ul>
    <li>Arnold - Would like a cracker</li>
  </ul>
{% endblock %}
