{% extends "general/base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {% trans "People" %}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "About" "general:about" %}
  {% breadcrumb "People" "general:people" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>{% trans "People" %}</h1>
{% endblock page_heading %}

{% block left_column_content %}

  <h2>{% trans "CS Unplugged" %} <small class="text-muted">({% trans "version 4.0.0 onwards" %})</small></h2>

  <h3>{% trans "Founders" %}</h3>

  <ul>
    <li>Tim Bell - University of Canterbury</li>
    <li>Ian Witten - University of Waikato</li>
    <li>Michael Fellows - Charles Darwin University</li>
  </ul>

  <h3>{% trans "Advisers" %}</h3>

  <ul>
    <li>Craig Neville-Manning - Google</li>
    <li>Peter J Denning - {% trans "Computer Scientist" %}</li>
  </ul>

  <h3>{% trans "Current Team" %}</h3>

  <ul>
    <li>Tim Bell - {% trans "Founder &amp; Content Writer" %}</li>
    <li>Tracy Henderson - {% trans "Content Writer" %}</li>
    <li>Joanne Roberts - {% trans "Content Writer" %}</li>
    <li>Jack Morgan - {% trans "Project Manager &amp; Technical Team" %}</li>
    <li>Courtney Bracefield - {% trans "Technical Team" %}</li>
  </ul>

  <h3>{% trans "Previous Team Members" %}</h3>

  <ul>
    <li>Behshid Ghorbani - {% trans "Content Writer" %}</li>
    <li>Hayden Jackson - {% trans "Technical Team" %}</li>
    <li>Jordan Griffiths - {% trans "Technical Team" %}</li>
    <li>Sarang Love Leehan - {% trans "Creative Content Developer &amp; Illustrator" %}</li>
    <li>Hayley van Waas - {% trans "Technical Team" %}</li>
    <li>Caitlin Duncan - {% trans "Content Writer" %}</li>
    <li>Alasdair Smith - {% trans "Technical Team" %}</li>
  </ul>

  <h3>{% trans "Community Contributors" %}</h3>

  <ul>
    <li><a href="https://github.com/willhbr">Will Richardson</a></li>
    <li><a href="https://github.com/eemshi">eemshi</a> (Michelle L)</li>
    <li><a href="https://github.com/mjulian31">mjulian31</a> (Meredith Julian)</li>
  </ul>


  <h3>{% trans "Translations" %}</h3>

  <ul>
    <li><a href="https://www.ibabbleon.com/">Babble-on</a></li>
  </ul>

  <h2 class="mt-5">{% trans "Classic CS Unplugged" %} <small class="text-muted">({% trans "up to version 3.2.2" %})</small></h2>

  <h3>{% trans "Contributors" %}</h3>

  <ul>
    <li>Alfonso Rodriguez (United States)</li>
    <li>Amitrajit Sarkar (New Zealand)</li>
    <li>Anna Wingkvist (Sweden)</li>
    <li>Anne Berry (France)</li>
    <li>Benny Chor (Israel)</li>
    <li>Bruce Webster (New Zealand)</li>
    <li>Clara Eugenia</li>
    <li>Constantine Mousafiris (Greece)</li>
    <li>Faisal Hasan (Bangladesh)</li>
    <li>Garza (Mexico)</li>
    <li>Giovanni Michele Bianco (Italy)</li>
    <li>Irina Derevianko (Russia)</li>
    <li>Katharina Kranzdorf (Germany)</li>
    <li>Long-Yuan Ya</li>
    <li>Lorena Mendoza (United States)</li>
    <li>Luciano Porto Barreto (Brazil)</li>
    <li>Lukasz Nitschke (Poland)</li>
    <li>Mohammed Obaid (New Zealand)</li>
    <li>Mäxl Stege (Germany)</li>
    <li>Paul Gibson (France)</li>
    <li>Pawel Perekietka (Poland)</li>
    <li>Professor Lee</li>
    <li>Renzo Davoli Bologna (Italy)</li>
    <li>Sertan Girgin (Turkey)</li>
    <li>Shenglan Wang</li>
    <li>Shimon Schocken (Israel)</li>
    <li>Sook Kyoung Choi</li>
    <li>SuYu (China)</li>
    <li>Swami Manohar (India)</li>
    <li>Theophanis Hatzigrivas (Greece)</li>
    <li>Tom Verhoe</li>
    <li>Yingchun Han (China)</li>
  </ul>

  <h3>{% trans "Advisers" %}</h3>

  <ul>
    <li>Alfred Thompson</li>
    <li>Allen Tucker</li>
    <li>Andy Seymour (United States)</li>
    <li>Anna Charny (US)</li>
    <li>Bengt Aspvall (Sweden)</li>
    <li>David Vogt</li>
    <li>Den Tsutom Wada (Japan)</li>
    <li>Geri Lorway (Canada)</li>
    <li>Harold Thimbleby (UK)</li>
    <li>Lee Won Gyu</li>
    <li>Len Wagner (United States)</li>
    <li>Lenore Blum (United States)</li>
    <li>Lynn Lambert (United States)</li>
    <li>Mindy Hard (United States)</li>
    <li>Pam Hagen (Canada)</li>
    <li>Paul Gibson (France)</li>
    <li>Peter Henderson</li>
    <li>Rachel Kestenbaum (United States)</li>
    <li>Rick Dipaolo (United States)</li>
    <li>Robb Cutler (United States)</li>
    <li>Sam Chung (United States)</li>
    <li>Susumu Kanemune (Japan)</li>
    <li>Todd Seymour (United States)</li>
    <li>Tom Cortina (United States)</li>
    <li>Xie Xie (China)  </li>
  </ul>

  <h3>{% trans "Website" %}</h3>

  <ul>
    <li>Sam Jarman (New Zealand)</li>
    <li>Tim Bell (New Zealand)</li>
    <li>Isaac Freeman (New Zealand)</li>
    <li>Renzo Davoli (Italy)</li>
    <li>Su Yu (China)</li>
    <li>Murugesh and Bruce Webster (New Zealand)</li>
  </ul>

  <h2 class="mt-5">{% trans "Parrots" %}</h2>

  <ul>
    <li>Arnold - Would like a cracker</li>
  </ul>
{% endblock left_column_content %}
