{% extends "general/about.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {% trans "Principles" %}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "About" "general:about" %}
  {% breadcrumb "Principles" "general:principles" %}
{% endblock breadcrumbs %}


{% block page_heading %}
  <h1>{% trans "Principles" %}</h1>
{% endblock page_heading %}

{% block left_column_content %}
  <p>
    {% blocktrans trimmed %}
    The primary goal of the Unplugged project is to promote Computer Science (and computing in general) to young people as an interesting, engaging, and intellectually stimulating discipline.
    We want to capture people’s imagination and address common misconceptions about what it means to be a computer scientist.
    We want to convey fundamentals that do not depend on particular software or systems, ideas that will still be fresh in 10 years.
    We want to reach kids in elementary schools and provide supplementary material for university courses.
    We want to tread where high-tech educational solutions are infeasible; to cross the divide between the information-rich and information-poor, between industrialized countries and the developing world.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
    There are many worthy projects for promoting Computer Science.
    The main principles that distinguish the Unplugged activities are:
    {% endblocktrans %}
  </p>

  <h2>{% trans "No Computers Required" %}</h2>

  <p>
    {% blocktrans trimmed %}
    The activities do not depend on computers.
    This avoids confusing Computer Science with programming or learning application software, makes the activities available to those who aren’t able to or don’t want to work with computers, and skips the barrier of learning to program before being able to explore ideas.
    It also provides physical, kinaesthetic experiences as part of learning computing, which can be a welcome break from sitting in front of a screen.
    For example, the parity magic trick is a card game that happens to use the same principle as error correction in computer memory.
    Unplugged isn’t a completely Luddite approach – we do exploit the internet and other computing facilities to share and develop the activities, and we hope that students will have to opportunity to learn to program so that they can put wheels on the ideas they have been exploring.
    {% endblocktrans %}
  </p>

  <h2>{% trans "Real Computer Science" %}</h2>

  <p>
    {% blocktrans trimmed %}
    Unplugged presents fundamental concepts in Computer Science such as algorithms, artificial intelligence, graphics, information theory, human computer interfaces, programming languages, and so on.
    We want to emphasize that programming is a means, not an end.
    Wikipedia provides a definition of Computer Science, and Peter Denning’s Great Principles project provides a more detailed analysis of the topics it covers.
    {% endblocktrans %}
  </p>

  <h2>{% trans "Learning by doing" %}</h2>

  <p>
    {% blocktrans trimmed %}
    The activities tend to be kinaesthetic, often on a large scale and involving team work.
    For example, the Sorting Network activity has teams of six running through a network drawn on the ground.
    The activities tend to allow students to discover answers for themselves, rather than just being given solutions or algorithms to follow; that is, a constructivist approach is encouraged (where the teacher uses the scaffolding provided by Unplugged to ask questions that lead them to discover the knowledge themselves), as we want students to realize that they are capable of finding solutions to problems on their own, rather than being given a solution to apply to the problem.
    For example, students don’t really need to be able to convert numbers to binary, but it is valuable for them to discover the patterns such as the doubling value of bits, patterns when you count in binary, and how the range increases exponentially as you add bits.
    {% endblocktrans %}
  </p>

  <h2>{% trans "Fun" %}</h2>

  <p>
    {% blocktrans trimmed %}
    The activities are fun and engaging, not just busy-work for the sake of it.
    Usually the explanations are quite brief – the teacher lays out the materials and a few rules, and the students follow the challenge from there.
    There are puzzles, challenges, competitions, problem solving and humour.
    Unplugged activities should leave students with a sense of genuine achievement.
    There is often a strong sense of story in the activities; problems are presented as part of a story rather than as an abstract mathematical challenge.
    Children are more interested in pirates than privacy, and absurd fictitious stories can be more memorable than compelling business applications.
    {% endblocktrans %}
  </p>

  <h2>{% trans "No specialised equipment" %}</h2>

  <p>
    {% blocktrans trimmed %}
    The activities are low cost, using equipment commonly found in classrooms or stationery stores.
    Most require only paper and pencil, and perhaps cards, string, chalk, whiteboard markers, balls or similar items.
    {% endblocktrans %}
  </p>

  <h2>{% trans "Variations encouraged" %}</h2>

  <p>
    {% blocktrans trimmed %}
    Unplugged is published under a Creative Commons licence, which permits free sharing (with acknowledgement).
    Variations, adaptations and extensions are encouraged.
    This also allows local publishing arrangements to take account of the kind of packaging that would make the material more accessible to local educational practitioners.
    {% endblocktrans %}
  </p>

  {% blocktrans trimmed %}
  <p>
    Two specific situations that we get asked about are:
  </p>

  <ul>
    <li>
      <strong>For-profit classes (e.g. clubs with a subscription fee):</strong> It is fine to charge a fee for people to attend classes that you're running that uses this material.
    </li>
    <li>
      <strong>Selling packs of support material (such as pre-printed cards):</strong> It is fine to do this.
      We hope that you'll do it for a reasonable price, and it's even better if you can get someone to sponsor you so that you can give it away to educators, but the license allows you to set your own price.
    </li>
  </ul>
  {% endblocktrans %}

  <h2>{% trans "For everyone" %}</h2>

  <p>
    {% blocktrans trimmed %}
    The programme is strongly international – we encourage variations that are relevant to local cultures (for example, some activities that require a large playground can be changed to a board game for schools that have very little open space; others use contexts that might not be familiar to students in a different culture).
    Translators should try the activities locally and involve teachers.
    It is better to adapt activities rather than translate them faithfully to something that would be less meaningful in the local culture.
    The activities are intended to be inclusive.
    {% endblocktrans %}
  </p>

  <h2>{% trans "Co-operative" %}</h2>

  <p>
    {% blocktrans trimmed %}
    We encourage co-operation, communication and problem solving.
    Competition can also be effective if it is used appropriately, especially between teams rather than individuals, but having students working cooperatively is a great way to learn about problem solving.
    {% endblocktrans %}
  </p>

  <h2>{% trans "Stand-alone Activities" %}</h2>

  <p>
    {% blocktrans trimmed %}
    As much as possible, the activities are stand-alone modules that can be used independently of each other, so that they can be used for enrichment in curricula or for outreach on their own rather than having to be used as a series.
    The ones that have been presented as lesson plans will sometimes require a series of lessons to be followed, but we will indicate if particular preparation is required.
    {% endblocktrans %}
  </p>

  <h2>{% trans "Resilient" %}</h2>

  <p>
    {% blocktrans trimmed %}
    The activities are resilient to errors made by students; they should not depend on getting many difficult steps exactly right, and minor mistakes should not prevent participants from understanding the principles.
    The instructions are usually just one or two rules and a goal that can be expressed in a single sentence (e.g. “Each card is either fully visible or not; how can you display exactly 11 dots?”, or “We need to get from any house to any other house; what is the smallest number of paving stones that make this possible”).
    {% endblocktrans %}
  </p>
{% endblock left_column_content %}
