{% load static %}

<html>
<head>
  <title>{{ filename }}</title>
  <style>
    @page {
      {% if paper_size == "a4" %}
        size: A4;
      {% elif paper_size == "letter" %}
        size: letter;
      {% endif %}
    }
  </style>
</head>
<body class="paper-{{ paper_size }}">
  <header class="fixed-running-element">
    {{ header_text }}
  </header>
  {% for copy_data in all_data %}
    {% for page in copy_data %}
      <div class="page-break resource-{{ page.type }}-container">
        {% if page.type == "image" %}
          <img class="resource-image" src="data:image/png;base64,{{ page.data }}" />
        {% elif page.type == "html" %}
          {% autoescape off %}
            {{ page.data }}
          {% endautoescape %}
        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}
  <footer class="fixed-running-element">
    <img src="staticfiles/img/logo-small.png"> - {{ resource }} - csunplugged.org
  </footer>
</body>
</html>
