<html>
<head>
  <title>Test</title>
  <style>
    @page {
      margin: 15mm 20mm;
      {% if paper_size == "a4" %}
        size: A4;
      {% elif paper_size == "letter" %}
        size: letter;
      {% endif %}
    }
    img#base-image {
      {% if paper_size == "a4" %}
        max-height: 267mm !important;
      {% elif paper_size == "letter" %}
        max-height: 249mm !important;
      {% endif %}
    }

  </style>
</head>
<body>
  {% for resource_image_data in resource_images %}
    <div id="base-image-container">
      <img id="base-image" src="data:image/png;base64,{{ resource_image_data }}" />
    </div>
  {% endfor %}
  <footer>
    <strong class="logo-text">CS Unplugged</strong> - {{ resource.name }} - csunplugged.org{% url 'resources:resource' resource.slug %}
  </footer>
</body>
</html>
