{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% block name %}{% endblock name %}</h1>
      {% block description %}

      {% endblock description %}
    </div>
    <div class="col-12 col-sm-8">
      <h2>Create Resource</h2>

      <form action="{% url 'resources:generate' resource.slug %}" method="get">
        {% block generation_form %}

        {% endblock generation_form %}
        <input type="submit" value="Generate Resource" />
      </form>
    </div>
    <div class="col-12 col-sm-4">
      {% if thumbnail %}
        <h2>Preview</h2>
        {% load static %}
        <img class="img-thumbnail" src="{% static thumbnail %}">
      {% endif %}
    </div>
    {% if lessons %}
    <div class="col-12">
        <h2>Related Lessons</h2>
        {% for lesson in lessons %}
          <p>
            <a href="{% url 'topics:lesson' lesson.topic.slug lesson.unit_plan.slug lesson.slug %}" class="btn btn-outline-danger">{{ lesson.topic.name }}: {{ lesson.name }}</a>
          </p>
        {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock body %}
