{% extends "resources/resource.html" %}

{% load i18n %}

<!-- Description of resource -->
{% block description %}
  <p>
    {% trans "This resource will show you how to use binary numbers to represent letters." %}
  </p>
{% endblock description %}

{% block generation_form %}
  <fieldset>
    <legend>{% trans "Worksheet Version" %}</legend>
    <input type="radio" name="worksheet_version" id="student" value="student" checked="checked">
    <label for="student">{% trans "Student" %}</label>
    <br>
    <input type="radio" name="worksheet_version" id="teacher" value="teacher">
    <label for="teacher">{% trans "Teacher (solutions)" %}</label>
  </fieldset>
{% endblock generation_form %}
