{% extends "resources/resource.html" %}

<!-- Name of resource -->
{% block name %}{{ resource.name }}{% endblock name %}

<!-- Description of resource -->
{% block description %}
  <p>
    This resource contains printouts for binary numbers activities.
  </p>
{% endblock description %}

{% block generation_form %}
  <fieldset>
    <legend>Number of Bits</legend>
    <input type="radio" name="number_bits" id="number_bits_4" value="4" checked="checked">
    <label for="number_bits_4">Four (1 to 8)</label>
    <br>
    <input type="radio" name="number_bits" id="number_bits_8" value="8">
    <label for="number_bits_8">Eight (1 to 128)</label>
    <br>
    <input type="radio" name="number_bits" id="number_bits_12" value="12">
    <label for="number_bits_12">Twelve (1 to 2048)</label>
  </fieldset>

  <fieldset>
    <legend>Display Dot Counts</legend>
    <input type="radio" name="dot_counts" id="dot_counts_yes" value="yes" checked="checked">
    <label for="dot_counts_yes">Yes</label>
    <br>
    <input type="radio" name="dot_counts" id="dot_counts_no" value="no">
    <label for="dot_counts_no">No</label>
  </fieldset>

  <fieldset>
    <legend>Black on Card Back</legend>
    <input type="radio" name="black_back" id="black_back_yes" value="yes">
    <label for="black_back_yes">Yes - <em>Uses a lot of black ink, but conveys clearer card state. Print double sided.</em></label>
    <br>
    <input type="radio" name="black_back" id="black_back_no" value="no" checked="checked">
    <label for="black_back_no">No - <em>Print single sided.</em></label>
  </fieldset>
{% endblock generation_form %}
