{% extends "resources/resource.html" %}

{% load i18n %}

<!-- Description of resource -->
{% block description %}
  <p>
    {% trans "This resource contains printouts for binary numbers activities." %}
  </p>
{% endblock description %}

{% block generation_form %}
  <fieldset>
    <legend>{% trans "Number of Bits" %}</legend>
    <input type="radio" name="number_bits" id="number_bits_4" value="4" checked="checked">
    <label for="number_bits_4">{% trans "Four (1 to 8)" %}</label>
    <br>
    <input type="radio" name="number_bits" id="number_bits_8" value="8">
    <label for="number_bits_8">{% trans "Eight (1 to 128)" %}</label>
    <br>
    <input type="radio" name="number_bits" id="number_bits_12" value="12">
    <label for="number_bits_12">{% trans "Twelve (1 to 2048)" %}</label>
  </fieldset>

  <fieldset>
    <legend>{% trans "Display Dot Counts" %}</legend>
    <input type="radio" name="dot_counts" id="dot_counts_yes" value="yes" checked="checked">
    <label for="dot_counts_yes">{% trans "Yes" %}</label>
    <br>
    <input type="radio" name="dot_counts" id="dot_counts_no" value="no">
    <label for="dot_counts_no">{% trans "No" %}</label>
  </fieldset>

  <fieldset>
    <legend>{% trans "Black on Card Back" %}</legend>
    <input type="radio" name="black_back" id="black_back_yes" value="yes">
    <label for="black_back_yes">
      {% blocktrans trimmed %}
      Yes - <em>Uses a lot of black ink, but conveys clearer card state. Print double sided.</em>
      {% endblocktrans %}
    </label>
    <br>
    <input type="radio" name="black_back" id="black_back_no" value="no" checked="checked">
    <label for="black_back_no">
      {% blocktrans trimmed %}
      No - <em>Print single sided.</em>
      {% endblocktrans %}
    </label>
  </fieldset>
{% endblock generation_form %}
