{% extends "resources/resource.html" %}

<!-- Name of resource -->
{% block name %}{{ resource.name }}{% endblock name %}

<!-- Description of resource -->
{% block description %}
  <p>
    This resource will show you how to use binary numbers to represent letters.
  </p>
{% endblock description %}

{% block generation_form %}
  <fieldset>
    <legend>Worksheet Version</legend>
    <input type="radio" name="worksheet_version" id="student" value="student" checked="checked">
    <label for="student">Student</label>
    <br>
    <input type="radio" name="worksheet_version" id="teacher" value="teacher">
    <label for="teacher">Teacher (solutions)</label>
  </fieldset>
{% endblock generation_form %}
