<style>
  /* Global settings */
  table, th, td {
    vertical-align: top;
    table-layout: fixed;
  }
  table {
    width: 100%;
  }
  h2, h3 {
    margin-top: 1em;
  }
  /* Hash table */
  table.hash-table th,
  table.hash-table > tbody > tr > td {
    text-align: center;
    border: 2px solid black;
    padding: 0.4em;
  }
  table.hash-table th {
    font-size: 1.2em;
  }
  /* Linked list */
  div.linked-list {
    display: inline-block;
    text-align: center;
  }
  div.linked-list-item {
    border: 1px solid #222;
    padding: 0.3em;
  }
  div.linked-list-connector {
    border-right: 1px solid #222;
    width: 50%;
    height: 0.7em;
  }
  .row-height {
    height: 350px;
  }
  /* Other */
  .page-break {
    page-break-after: always;
  }
</style>

<h1>Hash Table Worksheet</h1>

<p>
  The following hash table stores a number using a hash function that is modulo 20 of the sum of the number’s digits.
</p>

<table class="hash-table">
  <thead>
    <tr>
      {% for bucket in zero_to_nine %}
        <th>{{ bucket.number }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr class="row-height">
      {% for bucket in zero_to_nine %}
        <td>
          <div class="linked-list">
          </div>
        </td>
      {% endfor %}
    </tr>

    <tr>
      {% for bucket in ten_to_nineteen %}
        <th>{{ bucket.number }}</th>
      {% endfor %}
    </tr>

    <tr class="row-height">
      {% for bucket in ten_to_nineteen %}
        <td>
          <div class="linked-list">
          </div>
        </td>
      {% endfor %}
    </tr>

  </tbody>
</table>
