{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {% trans "Printouts" %}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Printouts" "resources:index" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>{% trans "Printouts" %}</h1>

  <p>
    {% blocktrans trimmed %}
    This page diplays a complete list of all available printouts.
    If a lesson uses a resource, the lesson will contain a direct link to the
    resource with a description on how to use it.
    {% endblocktrans %}
  </p>
{% endblock page_heading %}

{% block content %}
  {% if all_resources %}
    <div class="row">
      {% for resource in all_resources %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <a class="link-item no-text-decoration d-block h-100 py-2 text-center" href="{% url 'resources:resource' resource.slug %}">
            <img class="border-thin" src="{% static resource.thumbnail_static_path %}" alt="Thumbnail of resource">
            <p class="mb-0 mt-2"><strong>{{ resource.name }}</strong></p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>{% trans "No printouts are available." %}</p>
  {% endif %}
{% endblock content %}
