{% extends "resources/resource.html" %}

{% block generation_form %}
  <fieldset class="form-group">
    <legend>Piano keys to highlight</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="no" checked="checked">
        None
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="A">
        A
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="B">
        B
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="C">
        C
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="D">
        D
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="E">
        E
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="F">
        F
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="G">
        G
      </label>
    </div>
  </fieldset>
{% endblock generation_form %}
