{% extends "resources/resource.html" %}

{% load i18n %}

{% block generation_form %}
  <fieldset class="form-group">
    <legend>{% trans "Piano keys to highlight" %}</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="no" checked="checked">
        {% trans "None" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="A">
        {% comment %}Translators: Musical note{% endcomment %}
        {% trans "A" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="B">
        {% comment %}Translators: Musical note{% endcomment %}
        {% trans "B" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="C">
        {% comment %}Translators: Musical note{% endcomment %}
        {% trans "C" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="D">
        {% comment %}Translators: Musical note{% endcomment %}
        {% trans "D" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="E">
        {% comment %}Translators: Musical note{% endcomment %}
        {% trans "E" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="F">
        {% comment %}Translators: Musical note{% endcomment %}
        {% trans "F" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="highlight" value="G">
        {% comment %}Translators: Musical note{% endcomment %}
        {% trans "G" %}
      </label>
    </div>
  </fieldset>
{% endblock generation_form %}
