{% extends "resources/resource.html" %}

{% block description %}
  <p>
    DESCRIPTION TO BE WRITTEN
  </p>
{% endblock description %}

{% block generation_form %}
<fieldset class="form-group">
  <legend>Colouring type</legend>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="method" value="junior-binary" checked="checked">
      Junior binary (0's and 1's)
    </label>
  </div>
</fieldset>

<fieldset class="form-group">
  <legend>Image</legend>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="image" value="boat" checked="checked">
      Boat
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="image" value="fish">
      Fish
    </label>
  </div>
</fieldset>
{% endblock generation_form %}
