{% extends "columns.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Resources" "resources:index" %}
  {% breadcrumb resource.name "resources:resource" resource.slug %}
{% endblock breadcrumbs %}

{% block title %}
  {{ resource.name }}
{% endblock title %}

{% block page_heading %}
  <h1>{{ resource.name }}</h1>

  {% block description %}
  {% endblock description %}
{% endblock page_heading %}

{% block left_column_content %}
  <h2>Create Resource</h2>

  <form action="{% url 'resources:generate' resource.slug %}" method="get"{% if not debug %} target="_blank"{% endif %} id="resource-generation-form">
    {% block generation_form %}
    {% endblock generation_form %}

    <fieldset>
      <legend>Paper Size</legend>
      <input type="radio" name="paper_size" id="size_a4" value="a4" checked="checked">
      <label for="size_a4">A4</label>
      <br>
      <input type="radio" name="paper_size" id="size_letter" value="letter">
      <label for="size_letter">US Letter</label>
    </fieldset>

    {% if debug %}
      <hr>
      <h3>Local Generation Only</h3>

      <fieldset>
        <legend>Header Text</legend>
        <input type="text" name="header_text" placeholder="Example School: Room Four" class="long-text-field">
      </fieldset>

      {% if resource.copies %}
        <fieldset>
          <legend>Number of Copies</legend>
          <input type="number" name="copies" value=1 min=1 max=50>
        </fieldset>
      {% endif %}

      <hr>
      <input type="submit" value="Generate Resource" class="btn btn-outline-primary mb-3" />
    {% else %}
      {% if resource.copies %}
      <div class="alert alert-info" role="alert">
        The download of this resource includes 30 unique copies.
      </div>
      {% endif %}

      <input type="submit" value="Download Resource" class="btn btn-outline-primary mb-3"/>
    {% endif %}
  </form>
{% endblock left_column_content %}

{% block right_column_content %}
  {% if thumbnail %}
    <h2>Preview</h2>
    {% load static %}
    <img id="resource-thumbnail" class="img-thumbnail">
  {% endif %}
{% endblock right_column_content %}

{% block end_content %}
  {% if grouped_lessons %}
    <h2>Related Lessons</h2>
    {% for age_group, lessons in grouped_lessons.items %}
      <table class="table table-responsive table-center-vertical">
        <thead class="thead-default">
          <tr>
            <th>Topic</th>
            <th class="text-center">Ages</th>
            <th class="text-center">Number</th>
            <th>Lesson</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in lessons %}
            <tr class="align-middle">
              <td class="text-center">
                <a href="{% url 'topics:topic' lesson.topic.slug %}">
                  {{ lesson.topic.name }}
                </a>
              </td>
              <td class="text-center">
                {{ age_group.ages.lower }} to {{ age_group.ages.upper }}
              </td>
              <td class="text-center">
                {{ lesson.number }}
              </td>
              <td>
                <a href="{% url 'topics:lesson' lesson.topic.slug lesson.unit_plan.slug lesson.slug %}">
                  <strong>{{ lesson.name }}</strong>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}

  {% endif %}
{% endblock end_content %}

{% block scripts %}
  <script>
    var resource_slug = "{{ resource.slug }}";
    var resource_thumbnail_base = "{{ resource_thumbnail_base }}";
  </script>
  <script src="{% static 'js/resource-thumbnail-preview.js' %}"></script>
{% endblock scripts %}
