{% extends "resources/index.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb resource.name "resources:resource" resource.slug %}
{% endblock breadcrumbs %}

{% block body_container %}
  <div class="row">
    <div class="col-12">
      <h1>{% block name %}{% endblock name %}</h1>
      {% block description %}

      {% endblock description %}
    </div>
    <div class="col-12 col-sm-8">
      <h2>Create Resource</h2>

      <form action="{% url 'resources:generate' resource.slug %}" method="get">
        {% block generation_form %}

        {% endblock generation_form %}

        <fieldset>
          <legend>Paper Size</legend>
          <input type="radio" name="paper_size" id="size_a4" value="a4" checked="checked">
          <label for="size_a4">A4</label>
          <br>
          <input type="radio" name="paper_size" id="size_letter" value="letter">
          <label for="size_letter">US Letter</label>
        </fieldset>

        <fieldset>
          <legend>Number of Copies</legend>
          <input type="number" name="copies" value=1 min=1 max=50>
        </fieldset>

        <fieldset>
          <legend>Header Text</legend>
          <input type="text" name="header_text" placeholder="Example School: Room Four" class="long-text-field">
        </fieldset>

        <input type="submit" value="Generate Resource" />
      </form>
    </div>
    <div class="col-12 col-sm-4">
      {% if thumbnail %}
        <h2>Preview</h2>
        {% load static %}
        <img class="img-thumbnail" src="{% static thumbnail %}">
      {% endif %}
    </div>
    {% if lessons %}
    <div class="col-12">
        <h2>Related Lessons</h2>
        {% for lesson in lessons %}
          <p>
            <a href="{% url 'topics:lesson' lesson.topic.slug lesson.unit_plan.slug lesson.slug %}" class="btn btn-outline-danger">{{ lesson.topic.name }}: {{ lesson.name }}</a>
          </p>
        {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock body_container %}
