{% extends "resources/resource.html" %}

{% block generation_form %}
  <fieldset class="form-group">
    <legend>Number of cards</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="number_cards" value="15" checked="checked">
        15
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="number_cards" value="31">
        31
      </label>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>Range of numbers</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="max_number" value="cards" checked="checked">
        Number of cards (15 or 31)
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="max_number" value="99">
        0 to 99
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="max_number" value="999">
        0 to 999
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="max_number" value="blank">
        Blank
      </label>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>Include teacher helper sheet</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="help_sheet" value="yes" checked="checked">
        Yes
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="help_sheet" value="no">
        No
      </label>
    </div>
  </fieldset>
{% endblock generation_form %}
