{% extends "resources/resource.html" %}

{% load i18n %}

<!-- Description of resource -->
{% block description %}
  <p>
    {% blocktrans trimmed %}
    This resource will show you how computers sort random numbers into
    order using a thing called a sorting network.
    {% endblocktrans %}
  </p>
  <p>
    {% url 'resources:resource' 'sorting-network-cards' as sorting_network_url%}
    {% blocktrans trimmed %}
    Can be used with the
    <a href="{{ sorting_network_url }}">Sorting Network cards resource</a>.
    {% endblocktrans %}
  </p>
{% endblock description %}

{% block generation_form %}
  <fieldset>
    <legend>{% trans "Prefill with Numbers" %}</legend>
    <input type="radio" name="prefilled_values" id="blank" value="blank" checked="checked">
    <label for="blank">{% trans "None (Blank - Useful as template)" %}</label>
    <br>
    <input type="radio" name="prefilled_values" id="easy" value="easy">
    <label for="easy">{% trans "Easy Numbers (1 digit)" %}</label>
    <br>
    <input type="radio" name="prefilled_values" id="medium" value="medium">
    <label for="medium">{% trans "Medium Numbers (2 digits)" %}</label>
    <br>
    <input type="radio" name="prefilled_values" id="hard" value="hard">
    <label for="hard">{% trans "Hard Numbers (3 digits)" %}</label>
  </fieldset>
{% endblock generation_form %}
