{% extends "resources/resource.html" %}

{% load i18n %}

{% block generation_form %}
  <fieldset class="form-group">
    <legend>{% trans "Train track shape" %}</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tracks" value="circular" checked="checked">
        {% trans "Circular" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tracks" value="twisted">
        {% trans "Twisted" %}
      </label>
    </div>
  </fieldset>
{% endblock generation_form %}
