{% extends "resources/resource.html" %}

<!-- Description of resource -->
{% block description %}
{% endblock description %}

{% block generation_form %}
  <fieldset class="form-group">
    <legend>Prefill with Numbers</legend>
    <input type="radio" name="prefilled_values" id="easy" value="easy" checked="checked">
    <label for="easy">Easy Numbers (2 digits)</label>
    <br>
    <input type="radio" name="prefilled_values" id="medium" value="medium">
    <label for="medium">Medium Numbers (3 digits)</label>
    <br>
    <input type="radio" name="prefilled_values" id="hard" value="hard">
    <label for="hard">Hard Numbers (4 digits)</label>
    <br>
    <input type="radio" name="prefilled_values" id="none" value="blank">
    <label for="blank">None (Blank)</label>
  </fieldset>

  <fieldset class="form-group">
    <legend>Numbers Unsorted/Sorted</legend>
    <input type="radio" name="number_order" id="numbers_unsorted" value="unsorted" checked="checked">
    <label for="numbers_unsorted">Unsorted Numbers</label>
    <br>
    <input type="radio" name="number_order" id="numbers_sorted" value="sorted">
    <label for="numbers_sorted">Sorted Numbers</label>
  </fieldset>

  <fieldset class="form-group">
    <legend>Include instruction sheets</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="instructions" value="yes" checked="checked">
        Yes
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="instructions" value="no">
        No
      </label>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>Printing mode</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="art" value="colour">
        Table and artwork - Uses a lot of colour ink.
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="art" value="bw" checked="checked">
        Table only - Little ink usage.
      </label>
    </div>
  </fieldset>
{% endblock generation_form %}
