{% extends 'website_layout' %}
{% block body %}
<main>
  <div class='container center-align'>
    <div class='row'>
      <div class='col s12 m6 offset-m3 l4 offset-l4'>
        <img id='homepage-logo' class='responsive-img' src='{{ path_to_guide_root }}images/guide-logo-light.png'>
        <h1 class='light' id='homepage-title'>Computer Science<br>Field Guide</h1>
        <p>Please select a language:</p>
        {%- for (code, text) in languages %}
        <a href="{{ code }}/index.html" class="btn btn-expand z-depth-1 btn-menu-link-text">{{ text }}</a>
        {%- endfor %}
      </div>
    </div>
  </div>
</main>
{% include 'website_footer' %}
{% endblock body %}
{% block body_values %} class='landing-page'{% endblock body_values %}