{% extends "topics/topic.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Follow Up Activities" "topics:activity_list" topic.slug %}
{% endblock breadcrumbs %}

{% block content %}
  <h1>{{ topic.name }} Follow Up Activities</h1>
  {% if all_follow_up_activities %}
    {% for activity in all_follow_up_activities %}
      <p>
        <a href="{% url 'topics:activity' topic.slug activity.slug %}" class="btn btn-outline-danger">{{ activity.name }}</a>
      </p>
    {% endfor %}
  {% else %}
    <p>No follow up activities for {{ topic }}.</p>
  {% endif %}

{% endblock content %}
