{% extends "topics/activity_list.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb activity.name "topics:activity" topic.slug activity.slug %}
{% endblock breadcrumbs %}


{% block content %}
<h1>{{ activity.name }}</h1>

{% autoescape off %}
{{ activity.content }}
{% endautoescape %}

{% if activity.curriculum_areas %}
<h2>Curriculum Areas</h2>
<p>
{% for area in activity_curriculum_areas %}
  <span class="badge badge-default">{{ area.name }}</span>
{% endfor %}
</p>
{% endif %}

{% endblock content %}
