{% extends "base.html" %}

{% block content %}
<h2>{{ topic.name }} Follow Up Activities</h2>
{% if all_follow_up_activities %}
  {% for activity in all_follow_up_activities %}
    <p><a class="button button-primary" href="{% url 'topics:activity' topic.slug activity.slug %}">{{ activity.name }}</a></p>
  {% endfor %}
{% else %}
<p>No follow up activities for {{ topic }}.</p>
{% endif %}

<h3 style="padding-top:20em;">Prototype Debugging Values</h3>
<pre>
Name: {{ activity.name }}
Slug: {{ activity.slug }}
</pre>

{% endblock content %}
