{% extends "base-educators.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {% trans "Curriculum Integrations" %}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb "Curriculum Integrations" "topics:all_curriculum_integrations" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>{% trans "Curriculum Integrations" %}</h1>
  <p>
    {% trans "The following table lists curriculum integrations for all topics in the CS Unplugged content." %}
  </p>
{% endblock page_heading %}

{% block content %}
  <table class="table table-responsive table-center-vertical">
    <thead class="thead-default">
      <tr>
        <th>{% trans "Topic" %}</th>
        <th>{% trans "Activity" %}</th>
        <th>{% trans "Curriculum Areas" %}</th>
        <th>{% trans "Prerequisite Lessons?" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for curriculum_integration in curriculum_integrations %}
      <tr class="align-middle{% if not curriculum_integration.translation_available %} table-active{% endif %}">
        <td>
          {{ curriculum_integration.topic.name }}
        </td>
        <td>
          <a href="{% url 'topics:integration' curriculum_integration.topic.slug curriculum_integration.slug %}">
            <strong>
              {{ curriculum_integration.name }}
              {% if not curriculum_integration.translation_available %}
                <br>
                {% include "generic/not-available-badge.html" %}
              {% endif %}
            </strong>
          </a>
        </td>
        <td>
          {% for area in curriculum_integration.curriculum_areas.all %}
            {% include "topics/curriculum-area-badge.html" %}
          {% endfor %}
        </td>
        {% if curriculum_integration.has_prerequisite_lessons %}
          <td class="text-center table-success-cell">
            {% trans "Yes" %}
        {% else %}
          <td class="text-center">
            {% trans "No" %}
        {% endif %}
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
