{% extends "topics/base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Curriculum Integrations" "topics:all_curriculum_integrations" %}
{% endblock breadcrumbs %}

{% block content %}
  <h1>{% trans "Curriculum Integrations" %}</h1>
  <p>
    The following table lists curriculum integrations for all topics in the CS Unplugged content.
  </p>

  <table class="table table-responsive">
    <thead class="thead-default">
      <tr>
        <th>Topic</th>
        <th>Activity</th>
        <th>Curriculum Areas</th>
        <th>Prerequisite Lessons?</th>
      </tr>
    </thead>
    <tbody>
      {% for curriculum_integration in curriculum_integrations %}
      <tr>
        <td>
          {{ curriculum_integration.topic.name }}
        </td>
        <td>
          <a href="{% url 'topics:integration' curriculum_integration.topic.slug curriculum_integration.slug %}">
            <strong>
              {{ curriculum_integration.name }}
            </strong>
          </a>
        </td>
        <td>
          {% for area in curriculum_integration.curriculum_areas.all %}
            <span class="badge badge-default">
              {{ area.name }}
            </span>
          {% endfor %}
        </td>
        {% if curriculum_integration.has_prerequisite_lessons %}
          <td class="bg-success">
            Yes
        {% else %}
          <td>
            No
        {% endif %}
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
