{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block body_container %}
  {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
  <div class="row">
    <div class="col-12">
      {% block page_heading %}
      {% endblock page_heading %}
    </div>
    <div class="col-12 col-md-7">
      {% block content %}
      {% endblock content %}
    </div>
    <div class="col-12 col-md-5">
      {% block sidebar %}
      {% endblock sidebar %}
    </div>
    <div class="col-12">
      {% block end_content %}
      {% endblock end_content %}
    </div>
  </div>
{% endblock body_container %}
