{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block body_container %}
  {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
  <div class="row">
    <div class="col-12">
      {% block page_heading %}
      {% endblock page_heading %}
    </div>
    {% block content_container %}
      <div class="col-12">
        {% block content %}
        {% endblock content %}
      </div>
    {% endblock content_container %}
    <div class="col-12">
      {% block end_content %}
      {% endblock end_content %}
    </div>
  </div>
{% endblock body_container %}
