{% load render_html_field %}
{% load i18n %}

{% if computational_thinking_links %}
  <h2 id="ct-links">{% trans "Seeing the Computational Thinking connections" %}</h2>

  <p>
    {% blocktrans trimmed %}
    Throughout the lessons there are links to computational thinking.
    Below we've noted some general links that apply to this content.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
    Teaching computational thinking through CSUnplugged activities supports students to learn how to describe a problem, identify what are the important details they need to solve this problem, break it down into small logical steps so that they can then create a process which solves the problem, and then evaluate this process.
    These skills are transferable to any other curriculum area, but are particularly relevant to developing digital systems and solving problems using the capabilities of computers.
    {% endblocktrans %}
  </p>

  <p>
    {% url 'general:computational_thinking' as ct_url %}
    {% blocktrans trimmed %}
    These Computational Thinking concepts are all connected to each other and support each other, but it’s important to note that not all aspects of Computational Thinking happen in every unit or lesson.
    We’ve highlighted the important connections for you to observe your students in action.
    For more background information on what our definition of Computational Thinking is <a href="{{ ct_url }}">see our notes about computational thinking</a>.
    {% endblocktrans %}
  </p>
  {% render_html_field computational_thinking_links %}
{% endif %}
