{% extends "topics/curriculum_integration_list.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb integration.name "topics:integration" topic.slug integration.slug %}
{% endblock breadcrumbs %}


{% block content %}
<h1>{{ integration.name }}</h1>

{% autoescape off %}
{{ integration.content }}
{% endautoescape %}

{% if integration.curriculum_links %}
<h2>Curriculum Links</h2>
<p>
{% for link in integration_curriculum_links %}
  <span class="badge badge-default">{{ link.name }}</span>
{% endfor %}
</p>
{% endif %}

{% endblock content %}
