{% extends "base_columns.html" %}

{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb integration.name "topics:integration" topic.slug integration.slug %}
{% endblock breadcrumbs %}


{% block page_heading %}
  <h1>{{ integration.name }}</h1>

  {% if integration_curriculum_areas %}
    <p>
    {% for area in integration_curriculum_areas %}
      {% include "topics/curriculum_area_badge.html" %}
    {% endfor %}
    </p>
  {% endif %}
{% endblock page_heading %}

{% block left_column_content %}
  {% render_html_field integration.content %}
{% endblock left_column_content %}

{% block right_column_content %}
  {% if prerequisite_lessons %}
    <div class="alert alert-warning" role="alert">
      <p class="h5 mb-1">Heads up!</p>
      <p class="mb-1">To do this activity it's expected you understand the content covered in the following:</p>
      <ul class="mb-1">
        {% for prerequisite_lesson in prerequisite_lessons %}
          <li>
            <a href="{% url 'topics:lesson' prerequisite_lesson.topic.slug prerequisite_lesson.unit_plan.slug prerequisite_lesson.slug %}">
              <strong>{{ prerequisite_lesson.unit_plan.name }}:</strong> {{ prerequisite_lesson.name }}
            </a>
          </li>
          {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock right_column_content %}
