{% extends "topics/topic.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Curriculum Integrations" "topics:integration_list" topic.slug %}
{% endblock breadcrumbs %}

{% block content %}
  <h1>{{ topic.name }} Follow Up Activities</h1>
  {% if all_curriculum_integrations %}
    {% for integration in all_curriculum_integrations %}
      <p>
        <a href="{% url 'topics:integration' topic.slug integration.slug %}" class="btn btn-outline-danger">{{ integration.name }}</a>
      </p>
    {% endfor %}
  {% else %}
    <p>No curriculum integrations for {{ topic }}.</p>
  {% endif %}

{% endblock content %}
