{% extends "columns.html" %}

{% load i18n %}
{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {{ integration.name }}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb integration.name "topics:integration" topic.slug integration.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>{{ integration.name }}</h1>

  {% if integration_curriculum_areas %}
    <p>
    {% for area in integration_curriculum_areas %}
      {% include "topics/curriculum-area-badge.html" %}
    {% endfor %}
    </p>
  {% endif %}
  {% if not integration.translation_available %}
    {% with model=integration parent=topic %}
      {% include "topics/not-available-warning.html" %}
    {% endwith %}
  {% endif %}
{% endblock page_heading %}

{% block left_column_content %}
  {% if integration.translation_available %}
    {% render_html_field integration.content %}
  {% endif %}
{% endblock left_column_content %}

{% block right_column_content %}
  {% if integration.translation_available %}
    {% if prerequisite_lessons %}
      <div class="alert alert-warning" role="alert">
        <p class="h5 mb-1">{% trans "Heads up!" %}</p>
        <p class="mb-1">{% trans "To do this activity it's expected you understand the content covered in the following:" %}</p>
        <ul class="mb-1">
          {% for lesson in prerequisite_lessons %}
            <li>
              <a href="{% url 'topics:lesson' lesson.topic.slug lesson.slug %}">
                <strong>{{ lesson.topic.name }}:</strong> {{ lesson.name }}
                ({% for age_group in lesson.age_group.all %}{{ age_group.ages.lower }} to {{ age_group.ages.upper }}{% if not forloop.last %} and {% endif %}{% endfor %})
              </a>
              {% if not lesson.translation_available %}
                <br>
                {% include "generic/not-available-badge.html" %}
              {% endif %}
            </li>
            {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endif %}
{% endblock right_column_content %}
