{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <h1>{% trans "Topics" %}</h1>
  {% if all_topics %}
    <div class="card-deck">
      {% for topic in all_topics %}
        <a class="card card-outline-danger text-center" href="{% url 'topics:topic' topic.slug %}">
          <img class="img-fluid card-img-top topic-img-logo" src="{% if topic.icon %}{% static topic.icon %}{% else %}http://placehold.it/238x200{% endif %}">
          <div class="card-block">
            <h4 class="card-title">{{ topic.name }}</h4>
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No topics are available.</p>
  {% endif %}
{% endblock %}
