{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {% trans "Topics" %}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Topics" "topics:index" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>{% trans "Topics" %}</h1>
{% endblock page_heading %}

{% block content %}
  {% if topics %}
    <p>{% trans "Open a topic to see all related unit plans, lessons, curriculum integrations, and programming challenges." %}</p>

    <div class="row">
      {% for topic in topics %}
        <a class="col-12 col-md-8 col-lg-6 link-item no-text-decoration py-4 align-items-center{% if not topic.translation_available %} unavailable{% endif %}" href="{% url 'topics:topic' topic.slug %}">
          <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
              <img class="img-fluid inline-image" src="{% static topic.icon %}">
              {% if not topic.translation_available %}
                {% include "topics/not-available-badge.html" %}
              {% endif %}
            </div>
            <div class="col-12 col-md-8 text-center text-md-left">
              <h2>{{ topic.name }}</h2>
              <ul class="list-unstyled text-muted mb-0">
                {% if topic.lessons.exists %}
                  <li>
                    <strong>
                      {% blocktrans trimmed with min_age=topic.min_age max_age=topic.max_age%}
                        Ages {{ min_age }} to {{ max_age }}
                      {% endblocktrans %}
                    </strong>
                  </li>
                  <li>
                    {{ topic.lessons.count }} {% trans "lessons" %}
                  </li>
                {% endif %}
                {% if topic.curriculum_integrations.exists %}
                  <li>{{ topic.curriculum_integrations.count }} {% trans "curriculum integrations" %}</li>
                {% endif %}
                {% if topic.programming_challenges.exists %}
                  <li>{{ topic.programming_challenges.count }} {% trans "programming challenges" %}</li>
                {% endif %}
              </ul>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>{% trans "No topics are available." %}</p>
  {% endif %}
{% endblock content %}
