{% for age_range, lessons in grouped_lessons.items %}
  <table class="table table-responsive table-center-vertical">
    <thead class="thead-default">
      <tr>
        <th class="text-center">Ages</th>
        <th class="text-center">Number</th>
        <th>Lesson</th>
        <th class="text-center">Programming Challenges</th>
      </tr>
    </thead>
    <tbody>
      {% for lesson in lessons %}
        <tr class="align-middle">
          {% if forloop.first %}
            <td rowspan="{{ lessons|length }}" class="text-center px-0">
              <span class="table-text-emphasis">{{ age_range.0 }}</span><br>
              to<br>
              <span class="table-text-emphasis">{{ age_range.1 }}</span>
            </td>
          {% endif %}
          <td class="text-center">
            {{ lesson.number }}
          </td>
          <td>
            <a href="{% url 'topics:lesson' topic.slug unit_plan.slug lesson.slug %}">
              <strong>{{ lesson.name }}</strong>
            </a>
          </td>
          {% if lesson.has_programming_exercises %}
            <td class="text-center table-success-cell">
              <a href="{% url 'topics:programming_exercises_list' topic.slug unit_plan.slug lesson.slug %}">
                Yes
              </a>
          {% else %}
            <td class="text-center">
              No
          {% endif %}
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
