{% extends "columns.html" %}

{% load i18n %}
{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {{ lesson.name }}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb lesson.name "topics:lesson" topic.slug lesson.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
    <h1 id="{{ lesson.slug }}">{{ lesson.name }}</h1>
    {% if not lesson.translation_available %}
      {% with model=lesson parent=topic %}
        {% include "topics/not-available-warning.html" %}
      {% endwith %}
    {% else %}
    <ul>
      <li>{% blocktrans with duration=lesson.duration trimmed %}<strong>Duration:</strong> {{ duration }} minutes{% endblocktrans %}</li>
      {% for lesson_age in lesson_ages %}
      <li>
        {% blocktrans with lower=lesson_age.lower upper=lesson_age.upper number=lesson_age.number trimmed %}
        <strong>Ages {{ lower }} to {{ upper }}:</strong> Lesson {{ number }}
        {% endblocktrans %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock page_heading %}

{% block left_column_content %}
  {% if lesson.translation_available %}
    {% if learning_outcomes %}
      <details class="panel-learning-outcomes">
        <summary>
          <strong>{% trans "Learning outcomes" %}</strong>
          <img class="inline-image" src="{% static 'img/general/outcomes.png' %}">
        </summary>
        <div class="boxed-text-content">
          <p>{% trans "Students will be able to:" %}</p>
          <ul>
            {% for learning_outcome in learning_outcomes %}
            <li>
              {{ learning_outcome.text }}<br>
              {% for area in learning_outcome.curriculum_areas.all %}
                {% include "topics/curriculum-area-badge.html" %}
              {% endfor %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </details>
    {% endif %}

    {% render_html_field lesson.content %}

      {% with computational_thinking_links=lesson.computational_thinking_links %}
        {% include "topics/computational-thinking-links.html" %}
      {% endwith %}
  {% endif %}
{% endblock left_column_content %}

{% block right_column_content %}
  {% if lesson.translation_available %}
    {% if generated_resources %}
    <h2>{% trans "Printables" %}</h2>
      <div class="row">
        {% for generated_resource in generated_resources %}
          <div class="col-12 mb-4 print-col-6">
            <a class="link-item no-text-decoration d-block h-100 py-2 text-center" href="{% url 'resources:resource' generated_resource.slug %}">
              <img class="border-thin" src="{{ generated_resource.thumbnail }}" alt="Thumbnail of resource">
              <p class="mb-0"><strong>{{ generated_resource.name }}</strong></p>
              {% if generated_resource.description %}
                <p class="mb-0">{{ generated_resource.description }}</p>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if classroom_resources %}
    <h2 class="mt-2">{% trans "Classroom resources" %}</h2>
      <ul>
        {% for classroom_resource in classroom_resources.all %}
          <li>{{ classroom_resource.description }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if programming_challenges %}
      <div class="d-print-none">
        <h2 class="mt-2">{% trans "Programming challenges" %}</h2>
        <p>
          <a href="{% url 'topics:programming_challenges_list' topic.slug lesson.slug %}">
            {% trans "View related programming challenges" %}
          </a>
        </p>
      </div>
    {% endif %}

    <div id="sticky-sidebar" class="position-sticky d-print-none">
      <h2 class="mt-2">{% trans "Table of contents" %}</h2>
      <ul class="nav nav-pills flex-column" id="scrollspy-table-of-contents">
        <li class="nav-item">
          <a class="nav-link" href="#{{ lesson.slug }}">{{ lesson.name }}</a>
        </li>
        {% for heading_node in lesson.heading_tree %}
          <li class="nav-item">
            <a class="nav-link" href="#{{ heading_node.slug }}">{{ heading_node.text }}</a>
          </li>
        {% endfor %}

        {% if lesson.computational_thinking_links %}
          <li class="nav-item">
            <a class="nav-link" href="#ct-links">{% trans "Computational Thinking" %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
{% endblock right_column_content %}
