{% load i18n %}
{% load static %}
{% load translate_url %}

<div class="alert alert-danger" role="alert">
  {% blocktrans trimmed with language=current_language.name_translated %}
  <h4>Sorry! This {{ model_type }} is not yet available in {{ language }}.</h4>
  <p>If you're totally awesome and can speak multiple languages, then feel free to check it out in...</p>
  {% endblocktrans %}
  <p><div class="btn-group">
    {% for language in model.languages %}
      {% get_language_info for language as lang %}
      <a class="btn btn-outline-danger" role="button" href="{% translate_url language %}">
        <img src="{% static 'img/blank.gif' %}" class="flag flag-language-{{ language }}" />
        {{ lang.name_translated }}
      </a>
    {% endfor %}
  </div></p>
  {% if parent_type %}
  <p>...{% trans "or" %}...</p>
    <a class="btn btn-outline-danger" role="button" href="{{ parent_url }}">
      {% blocktrans trimmed %}
      Return to the {{ parent_type }}
      {% endblocktrans %}
    </a>
    {% endif %}
</div>
