{% load i18n %}
{% load static %}
{% load translate_url %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<div class="alert alert-danger" role="alert">
  {% blocktrans trimmed with language=LANGUAGE_CODE|language_name %}
  <h4>Sorry! This {{ model_type }} is not yet available in {{ language }}.</h4>
  <p>If you're totally awesome and can speak multiple languages, then feel free to check it out in...</p>
  {% endblocktrans %}
  <p><div class="btn-group">
    {% for language in model.languages %}
      <a class="btn btn-outline-danger" role="button" href="{% translate_url language %}">
        <img src="{% static 'img/blank.gif' %}" class="flag flag-language-{{ language }}" />
        {{ language|language_name }}
      </a>
    {% endfor %}
  </div></p>
  {% if parent_type %}
  {% blocktrans trimmed %}
  <p>...or...</p>
    <a class="btn btn-outline-danger" role="button" href="{{ parent_url }}">
      Return to the {{ parent_type }}
    </a>
    {% endblocktrans %}
    {% endif %}
</div>
