{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb "Programming Challenges" "topics:programming_exercises_list" topic.slug unit_plan.slug lesson.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>{{ lesson.name }} Programming Challenges</h1>
{% endblock page_heading %}

{% block content %}
  {% if programming_exercises %}
    {% include "topics/programming-exercises-table.html" %}
  {% else %}
    <p>No programming challenges for {{ topic }}.</p>
  {% endif %}
{% endblock content %}
