{% load static %}

<table class="table table-responsive table-center-vertical">
  <thead class="thead-default">
    <tr>
      <th class="text-center">Number</th>
      <th>Name</th>
      <th class="text-center">Challenge Level</th>
      <th class="text-center">Languages</th>
    </tr>
  </thead>
  <tbody>
    {% for programming_exercise in programming_exercises %}
    <tr class="align-middle">
      <td class="text-center">
        {{ programming_exercise.exercise_set_number }}.{{ programming_exercise.exercise_number }}
      </td>
      <td>
        <a href="{% url 'topics:programming_exercise' topic.slug programming_exercise.slug %}">
          <strong>
            {{ programming_exercise.name }}
          </strong>
        </a>
      </td>
      <td class="text-center">
        {% include "topics/programming-difficulty-badge.html" %}
      </td>
      <td class="text-center">
        {% for implementation in programming_exercise.ordered_implementations %}
          <img src="{% get_static_prefix %}{{ implementation.language.icon }}" class="inline-image-small" />
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
