{% extends "base.html" %}
{% load render_html_field %}

{% block content %}
<h1><span class="subtitle">Plugged In:</span> {{ implementation.exercise.name }}</h1>
<h2>{{ implementation.language.name }} Solution</h2>

<p>This is just one of many possible solutions.</p>

{% render_html_field implementation.solution %}

<p>
  <a href="{% url 'topics:programming_exercise' implementation.topic.slug implementation.exercise.slug %}" class="btn btn-outline-danger">
    Back to Plugged In activity
  </a>
</p>
{% endblock content %}
