{% extends "base.html" %}

{% block content %}

<h1>{{ difficulty.name }}</h1>

<p><strong>Challenge level:</strong> {{ difficulty.level }}</p>

<h2>Programming Challenges</h2>
{% if programming_exercises %}
  <ul>
  {% for programming_exercise in programming_exercises %}
    <li>
    	<a href="{% url 'topics:programming_exercise' programming_exercise.topic.slug programming_exercise.slug %}" class="btn btn-outline-danger">{{ programming_exercise.name }}</a>
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>No programming challenges for challenge {{ difficulty.name }}.</p>
{% endif %}

{% endblock content %}
