{% extends "base.html" %}

{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {{ programming_challenge.name }}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb programming_challenge.name "topics:programming_challenge" topic.slug programming_challenge.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>
    {{ programming_challenge.name }}
  </h1>

  <p class="w-100 text-white rounded p-2 mt-3 difficulty-level-{{ programming_challenge.difficulty.level }}">
    <strong>Challenge Level:</strong> {{ programming_challenge.difficulty.name }}
  </p>
{% endblock page_heading %}

{% block content_container %}
  <div class="col-12 col-md-6">
    {% if lessons %}
      <div class="alert alert-info" role="alert">
        <p>This programming challenge is linked to the following lessons:</p>

        <ul class="mb-0">
          {% for lesson in lessons %}
            <li>
              <a href="{% url 'topics:lesson' topic.slug lesson.unit_plan.slug lesson.slug %}">
                Challenge {{ lesson.challenge_set_number }}.{{ lesson.challenge_number }} for {{ lesson.name }}
                ({% for age_range in lesson.age_range.all %}{{ age_range.ages.lower }} to {{ age_range.ages.upper }}{% if not forloop.last %} and {% endif %}{% endfor %})
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <h2>Learning outcomes</h2>
    {% if learning_outcomes %}
      <ul>
      {% for learning_outcome in learning_outcomes %}
        <li>
          {{ learning_outcome.text }}
          {% for area in learning_outcome.curriculum_areas.all %}
            {% include "topics/curriculum-area-badge.html" %}
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>No learning outcomes listed for {{ programming_challenge.name }}.</p>
    {% endif %}

    {% render_html_field programming_challenge.content %}
  </div>
  <div class="col-12 col-md-6">
    <h2 class="mt-0">Languages</h2>

    {% for implementation in implementations %}
      <details>
        <summary>
          <img src="{% get_static_prefix %}{{ implementation.language.icon }}" class="inline-image mr-2" />
          <strong>
            {{ implementation.language.name }}
          </strong>
        </summary>

        <div class="boxed-text-content">
          <h4>What it should look like</h4>
          {% render_html_field implementation.expected_result %}

          {% if implementation.hints %}
            <details>
              <summary>
                <strong>
                  Hints
                </strong>
              </summary>

              <div class="boxed-text-content">
                {% render_html_field implementation.hints %}
              </div>
            </details>
          {% endif %}

          <p class="text-center">
            <a href="{% url 'topics:programming_challenge_solution' topic.slug programming_challenge.slug implementation.language.slug %}">
              Show {{ implementation.language.name }} solution
            </a>
          </p>
        </div>
      </details>
    {% endfor %}
  </div>
{% endblock content_container %}

{% block end_content %}
  {% if programming_challenge.extra_challenge %}
    <h2>Extra Challenge</h2>
    {% render_html_field programming_challenge.extra_challenge %}
  {% endif %}
{% endblock end_content %}
