{% extends "base-educators.html" %}

{% load i18n %}

{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {% blocktrans with name=lesson.name trimmed %}{{ name }} programming challenges{% endblocktrans %}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb "Programming Challenges" "topics:programming_challenges_list" topic.slug lesson.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>{% blocktrans with name=lesson.name trimmed %}{{ name }} programming challenges{% endblocktrans %}</h1>
{% endblock page_heading %}

{% block content %}
  {% if lesson.programming_challenges_description %}
    {% render_html_field lesson.programming_challenges_description %}
  {% endif %}

  {% if programming_challenges %}
    <div class="custom-control custom-checkbox py-3">
      <input type="checkbox" class="custom-control-input" id="show-all-checkbox">
      <label class="custom-control-label" for="show-all-checkbox">{% trans "Check to show all detailed content" %}</label>
    </div>
    {% include "topics/programming-challenges-table.html" %}
  {% else %}
    <p>{% blocktrans trimmed %}No programming challenges for {{ topic }}.{% endblocktrans %}</p>
  {% endif %}
{% endblock content %}

{% block scripts %}
  <script type="text/javascript">
    // This ensures all are closed and all are opened, otherwise wierd toggling behavior occurs.
    $("#show-all-checkbox").change(function() {
        if (this.checked) {
          $('.acc-programming-challenge').collapse('show')
          $(".toggle-content").text('Show less details');
        } else {
          $('.acc-programming-challenge').collapse('hide')
          $(".toggle-content").text('Show more details');
        }
    });
  </script>
{% endblock scripts %}
