{% extends "topics/topic.html" %}

{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb programming_exercise.name "topics:programming_exercise" topic.slug programming_exercise.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>
    {{ programming_exercise.exercise_set_number }}.{{ programming_exercise.exercise_number }}
    {{ programming_exercise.name }}
  </h1>

  <p>
    <strong>Challenge Level:</strong> {{ programming_exercise.difficulty.name }}
  </p>
{% endblock page_heading %}

{% block content %}
  {% if lessons %}
    <div class="alert alert-info" role="alert">
      <p>This programming challenge is related to the following lessons:</p>

      <ul>
        {% for lesson in lessons %}
          <li>
            <a href="{% url 'topics:lesson' topic.slug lesson.unit_plan.slug lesson.slug %}">
              {{ lesson.name }} ({{ lesson.min_age }} to {{ lesson.max_age }})
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% render_html_field programming_exercise.content %}
{% endblock content %}

{% block sidebar %}
  <h2>Languages</h2>

  {% for implementation in implementations %}
    <details class="mb-3">
      <summary class="p-1">
        <img src="{% get_static_prefix %}{{ implementation.language.icon }}" class="plugged-in-language-icon" />
        <strong>
          {{ implementation.language.name }}
        </strong>
      </summary>

      <div class="detail-content m-2">
        <h4>Expected Result</h4>
        {% render_html_field implementation.expected_result %}

        {% if implementation.hints %}
          <p>
            <a class="btn btn-outline-danger" data-toggle="collapse" href="#collapse-{{ implementation.language.slug }}-hints" aria-expanded="false" aria-controls="collapse-{{ implementation.language.slug }}-hints">
              Show {{ implementation.language.name }} Hints
            </a>
          </p>
          <div class="collapse" id="collapse-{{ implementation.language.slug }}-hints">
            {% render_html_field implementation.hints %}
          </div>
        {% endif %}

        <a href="{% url 'topics:programming_exercise_language_solution' topic.slug programming_exercise.slug implementation.language.slug %}" class="btn btn-outline-danger">
          {{ implementation.language.name }} Solution
        </a>
      </div>
    </details>
  {% endfor %}

  <h2>Learning Outcomes</h2>
  {% if programming_exercise_learning_outcomes %}
    <ul>
    {% for learning_outcome in programming_exercise_learning_outcomes %}
      <li>{{ learning_outcome.text }}</li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No learning outcomes listed for {{ programming_exercise.name }}.</p>
  {% endif %}
{% endblock sidebar %}
