{% extends "topics/programming_exercise_list.html" %}

{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb programming_exercise.name "topics:programming_exercise" topic.slug programming_exercise.slug %}
{% endblock breadcrumbs %}

{% block content %}
  <h1>
    {{ programming_exercise.exercise_set_number }}.{{ programming_exercise.exercise_number }}
    {{ programming_exercise.name }}
  </h1>

  <p>
    <strong>Difficulty:</strong> {{ programming_exercise.difficulty.name }}
  </p>

  {% autoescape off %}
  {{ programming_exercise.content }}
  {% endautoescape %}

  <h2>Languages</h2>
  {% for implementation in implementations %}
    <div class="plugged-in-language-implementation">
      <h3>
        <img src="{% get_static_prefix %}{{ implementation.language.icon }}" class="plugged-in-language-icon" />
        {{ implementation.language.name }}
      </h3>

      {% render_html_field implementation.hints %}

      <a href="{% url 'topics:programming_exercise_language_solution' programming_exercise.topic.slug programming_exercise.slug implementation.language.slug %}" class="btn btn-outline-danger">
        {{ implementation.language.name }} Solution
      </a>
    </div>
  {% endfor %}


  <h2>Learning Outcomes</h2>
  {% if programming_exercise_learning_outcomes %}
    <ul>
    {% for learning_outcome in programming_exercise_learning_outcomes %}
      <li>{{ learning_outcome.text }}</li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No learning outcomes listed for {{ programming_exercise.name }}.</p>
  {% endif %}
{% endblock content %}
