{% extends "topics/programming_exercise.html" %}

{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Solution" "" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>
    {{ programming_exercise.exercise_set_number }}.{{ programming_exercise.exercise_number }}
    {{ programming_exercise.name }}
  </h1>
  <h2>
    {{ implementation.language.name }} Solution
  </h2>
{% endblock page_heading %}

{% block content %}
  <p>This is just one of many possible solutions.</p>

  <div class="disable-selection">
    {% render_html_field implementation.solution %}
  </div>

  <p>
    <a href="{% url 'topics:programming_exercise' topic.slug programming_exercise.slug %}">
      Back to programming challenge
    </a>
  </p>
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}
