{% extends "base.html" %}

{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {{ programming_exercise.exercise_set_number }}.{{ programming_exercise.exercise_number }}
  {{ programming_exercise.name }} solution
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb programming_exercise.name "topics:programming_exercise" topic.slug programming_exercise.slug %}
  {% breadcrumb "Solution" "" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>
    {{ programming_exercise.exercise_set_number }}.{{ programming_exercise.exercise_number }}
    {{ programming_exercise.name }}
  </h1>
  <h2>
    <img src="{% get_static_prefix %}{{ implementation.language.icon }}" class="inline-image" />
    {{ implementation.language.name }} Solution
  </h2>
{% endblock page_heading %}

{% block content %}
  <div class="alert alert-warning" role="alert">
    <strong>Heads Up!</strong> If you are ready to compare your programming to ours or are wanting to have a look at how we solved it, click 'View solution' below to view at least one way to write this program.
  </div>

  <details>
    <summary>
      <strong>View solution</strong>
    </summary>

    <div class="boxed-text-content disable-selection">
      <p>This is just one of many possible solutions:</p>
      {% render_html_field implementation.solution %}
    </div>
  </details>

  <p>
    <a href="{% url 'topics:programming_exercise' topic.slug programming_exercise.slug %}">
      Back to programming challenge
    </a>
  </p>
{% endblock content %}

{% block end_content %}
  {% if programming_exercise.extra_challenge %}
    <div class="boxed-text">
      <div class="boxed-text-content">
        <h2>Extra Challenge</h2>
        {% render_html_field programming_exercise.extra_challenge %}
      </div>
    </div>
  {% endif %}
{% endblock end_content %}
