{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb "Programming Challenges" "topics:programming_exercises_list" topic.slug unit_plan.slug lesson.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1>{{ lesson.name }} Programming Challenges</h1>
{% endblock page_heading %}

{% block content %}
  {% if all_programming_exercises %}
    <ul>
      {% for programming_exercise in all_programming_exercises %}
        <li>
          <a href="{% url 'topics:programming_exercise' topic.slug programming_exercise.slug %}">
            {{ programming_exercise.exercise_set_number }}.{{ programming_exercise.exercise_number }}
            {{ programming_exercise.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No programming challenges for {{ topic }}.</p>
  {% endif %}
{% endblock content %}
