{% extends "topics/topic.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Plugged In" "topics:programming_exercises_list" topic.slug unit_plan.slug lesson.slug %}
{% endblock breadcrumbs %}

{% block content %}
  <h1>{{ lesson.name }} Programming Challenges</h1>

  {% if all_programming_exercises %}
    {% for programming_exercise in all_programming_exercises %}
      <p>
        <a href="{% url 'topics:programming_exercise' topic.slug unit_plan.slug lesson.slug programming_exercise.slug %}" class="btn btn-outline-danger">
          {{ programming_exercise.exercise_set_number }}.{{ programming_exercise.exercise_number }}
          {{ programming_exercise.name }}
        </a>
      </p>
    {% endfor %}
  {% else %}
    <p>No programming challenges for {{ topic }}.</p>
  {% endif %}

{% endblock content %}
