{% extends "topics/programming_exercise_list.html" %}

{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb programming_exercise.name "topics:programming_exercise" topic.slug unit_plan.slug lesson.slug programming_exercise.slug %}
{% endblock breadcrumbs %}

{% block content %}
  <h1>
    {{ programming_exercise.exercise_set_number }}.{{ programming_exercise.exercise_number }}
    {{ programming_exercise.name }}
  </h1>

  <p>
    <strong>Difficulty:</strong> {{ programming_exercise.difficulty.name }}
  </p>

  {% render_html_field programming_exercise.content %}

  <h2>Languages</h2>
  <div id="accordion" role="tablist" aria-multiselectable="true">
  {% for implementation in implementations %}
    <div class="card">
      <div class="card-header" role="tab" id="heading{{ implementation.language.slug }}">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ implementation.language.slug }}" aria-expanded="true" aria-controls="collapse-{{ implementation.language.slug }}">
            <img src="{% get_static_prefix %}{{ implementation.language.icon }}" class="plugged-in-language-icon" />
            {{ implementation.language.name }}
          </a>
        </h5>
      </div>

      <div id="collapse-{{ implementation.language.slug }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ implementation.language.slug }}">
        <div class="card-block">
          <h4>Expected Result</h4>
          {% render_html_field implementation.expected_result %}

          <p>
            <a class="btn btn-outline-danger" data-toggle="collapse" href="#collapse-{{ implementation.language.slug }}-hints" aria-expanded="false" aria-controls="collapse-{{ implementation.language.slug }}-hints">
              Show {{ implementation.language.name }} Hints
            </a>
          </p>
          <div class="collapse" id="collapse-{{ implementation.language.slug }}-hints">
            {% render_html_field implementation.hints %}
          </div>

          <a href="{% url 'topics:programming_exercise_language_solution' topic.slug unit_plan.slug lesson.slug programming_exercise.slug implementation.language.slug %}" class="btn btn-outline-danger">
            {{ implementation.language.name }} Solution
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <h2>Learning Outcomes</h2>
  {% if programming_exercise_learning_outcomes %}
    <ul>
    {% for learning_outcome in programming_exercise_learning_outcomes %}
      <li>{{ learning_outcome.text }}</li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No learning outcomes listed for {{ programming_exercise.name }}.</p>
  {% endif %}
{% endblock content %}
