{% extends "base-educators.html" %}

{% load i18n %}
{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {{ topic.name }}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1 id="{{ topic.slug }}">{{ topic.name }}</h1>
  {% if not topic.translation_available %}
    {% url "topics:index" as url %}
    {% trans "Return to list of topics" as url_label %}
    {% with model=topic %}
      {% include 'topics/not-available-warning.html' %}
    {% endwith %}
  {% endif %}

  {% if topic.translation_available %}
    {% render_html_field topic.content %}
  {% endif %}
{% endblock page_heading %}

{% block content %}
  <h2 id="units">{% trans "Unit Plans" %}</h2>
  <div class="row justify-content-between">
    {% for unit_plan in unit_plans %}
      <div class="col-12 col-md-6 mb-4">
        <a class="link-item no-text-decoration d-flex justify-content-between h-100{% if not unit_plan.translation_available %} unavailable{% endif %}" href="{% url 'topics:unit_plan' topic.slug unit_plan.slug %}">
          <div>
            <h3>{{ unit_plan.name }}</h3>
            {% if not unit_plan.translation_available %}
              {% include "generic/not-available-badge.html" %}
            {% endif %}
            <ul class="list-unstyled list-unstyled-i18n text-muted mb-0">
              <li>
                <strong>
                  {% blocktrans trimmed with min_age=unit_plan.min_age max_age=unit_plan.max_age%}
                    Ages {{ min_age }} to {{ max_age }}
                  {% endblocktrans %}
                </strong>
              </li>
            </ul>
          </div>
          <div class="summary">
            <span class="summary-value">{{ unit_plan.lessons.count }}</span>
            <br>
            {% blocktrans trimmed count num=unit_plan.lessons.count %}
              lesson
            {% plural %}
              lessons
            {% endblocktrans %}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  {% if curriculum_integrations %}
    <h2 id="integrations">{% trans "Curriculum Integrations" %}</h2>
    {% include "topics/curriculum-integrations-table.html" %}
  {% endif %}
{% endblock content %}

{% block end_content %}
  {% if topic.other_resources %}
    <h2 id="other-resources">{% trans "Looking for more?" %}</h2>
    <p>
      <a href="{% url 'topics:other_resources' topic.slug %}">
        {% trans "Click here for other resources" %}
      </a>
    </p>
  {% endif %}
{% endblock end_content %}
