{% extends "topics/index.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
{% endblock breadcrumbs %}

{% block content %}
<h1>{{ topic.name }}</h1>

{% autoescape off %}
{{ topic.content }}
{% endautoescape %}

{% if unit_plans %}
  <h2>Unit Plans</h2>
  <div class="list-group">
  {% for unit_plan in unit_plans %}
    <p>
      <a href="{% url 'topics:unit_plan' topic.slug unit_plan.slug %}" class="btn btn-outline-danger">{{ unit_plan.name }}</a>
    </p>
  {% endfor %}
  </div>
{% else %}
  <p>No unit plans for {{ topic }}.</p>
{% endif %}

{% if programming_exercises %}
  <h2>Plugged In <span class="subtitle">(programming exercises)</span></h2>
  {% for programming_exercise in programming_exercises %}
    <p>
      <a href="{% url 'topics:programming_exercise' topic.slug programming_exercise.slug %}" class="btn btn-outline-danger">
        {{ programming_exercise.exercise_set_number }}.{{ programming_exercise.exercise_number }}
        {{ programming_exercise.name }}
      </a>
    </p>
  {% endfor %}
{% else %}
  <p>No programming exercises for {{ topic }}.</p>
{% endif %}

{% if follow_up_activities %}
  <h2>Follow Up Activities</h2>
  {% for activity in follow_up_activities %}
    <p>
      <a href="{% url 'topics:activity' topic.slug activity.slug %}" class="btn btn-outline-danger">{{ activity.name }}</a>
    </p>
  {% endfor %}
{% else %}
  <p>No follow up activities for {{ topic }}.</p>
{% endif %}

{% if topic.other_resources %}
  <h2>Looking for more?</h2>
  <p>
    <a href="{% url 'topics:other_resources' topic.slug %}" class="btn btn-outline-danger">Click here for other resources</a>
  </p>
{% endif %}

{% endblock %}
