{% extends "columns.html" %}

{% load i18n %}
{% load render_html_field %}
{% load translate_url %}
{% load django_bootstrap_breadcrumbs %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  {{ unit_plan.name }}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb unit_plan.name "topics:unit_plan" topic.slug unit_plan.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1 id="{{ unit_plan.slug }}" class="heading-underline"><span class="text-muted">{% trans "Unit plan:" %}</span> {{ unit_plan.name }}</h1>
{% endblock page_heading %}

{% block left_column_content %}
  {% if not unit_plan.translation_available %}
    <div class="alert alert-warning" role="alert">
      We're sorry, we haven't quite finished translating this unit plan into {{ LANGUAGE_CODE|language_name }}!
      Available translations:
      <ul class="mb-0">
        {% for language in unit_plan.languages %}
        <li><a href={% translate_url language %}>{{ language|language_name }}</a>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% render_html_field unit_plan.content %}

  {% with computational_thinking_links=unit_plan.computational_thinking_links %}
    {% include "topics/computational-thinking-links.html" %}
  {% endwith %}

  {% if grouped_lessons %}
    <h2 class="heading-underline" id="lessons">Lessons</h2>
    {% include "topics/lessons-table.html" %}
  {% endif %}
{% endblock left_column_content %}

{% block right_column_content %}
  <div id="sticky-sidebar" class="sticky">
    <h2 class="heading-underline">{% trans "Table of contents" %}</h2>
    <ul class="nav nav-pills flex-column" id="scrollspy-table-of-contents">
      <li class="nav-item">
        <a class="nav-link" href="#{{ unit_plan.slug }}">{{ unit_plan.name }}</a>
      </li>
      {% for heading_node in unit_plan.heading_tree %}
        <li class="nav-item">
          <a class="nav-link" href="#{{ heading_node.slug }}">{{ heading_node.text }}</a>
        </li>
      {% endfor %}
      {% if unit_plan.computational_thinking_links %}
        <li class="nav-item">
          <a class="nav-link" href="#ct-links">{% trans "Computational Thinking" %}</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="#lessons">{% trans "Lessons" %}</a>
      </li>
    </ul>
  </div>
{% endblock right_column_content %}

{% block scripts %}
  {% include "generic/import-stick-state-js.html" %}
{% endblock scripts %}
