{% extends "base-educators.html" %}

{% load i18n %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {{ unit_plan.name }}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb unit_plan.name "topics:unit_plan" topic.slug unit_plan.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1 id="{{ unit_plan.slug }}" class="mb-3"><span class="text-muted">{% trans "Unit plan:" %}</span> {{ unit_plan.name }}</h1>
  {% if not topic.translation_available %}
    {% with model=unit_plan parent=topic %}
      {% include 'topics/not-available-warning.html' %}
    {% endwith %}
  {% endif %}
{% endblock page_heading %}

{% block content_container %}
  <div class="col-12 col-lg-6 col-xl-5">
    {% if unit_plan.translation_available %}
      <h2>{% trans "What's it all about?" %}</h2>
      {% render_html_field unit_plan.content as content_html %}
      {{ content_html|truncatewords_html:150 }}

      <p class="text-center">
        <a href="{% url 'topics:unit_plan_description' topic.slug unit_plan.slug %}" class="btn btn-outline-primary">
          {% trans "Read the full unit plan description" %}
        </a>
      </p>
    {% endif %}
  </div>

  <div class="col-12 col-lg-6 col-xl-7">
    {% if grouped_lessons %}
      <h2 id="lessons">{% trans "Lessons" %}</h2>
      {% include "topics/lessons-table.html" %}
    {% endif %}
  </div>
{% endblock content_container %}
