{% extends "columns.html" %}

{% load i18n %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
  {{ unit_plan.name }} - {% trans "Description" %}
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Topics" "topics:index" %}
  {% breadcrumb topic.name "topics:topic" topic.slug %}
  {% breadcrumb unit_plan.name "topics:unit_plan" topic.slug unit_plan.slug %}
  {% breadcrumb "Description" "topics:unit_plan_description" topic.slug unit_plan.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h1 id="{{ unit_plan.slug }}"><span class="text-muted">{% trans "Unit plan:" %}</span> {{ unit_plan.name }}</h1>
  {% if not topic.translation_available %}
    {% with model=unit_plan parent=topic %}
      {% include 'topics/not-available-warning.html' %}
    {% endwith %}
  {% endif %}
{% endblock page_heading %}

{% block left_column_content  %}
  {% if unit_plan.translation_available %}
    {% render_html_field unit_plan.content %}

    {% with computational_thinking_links=unit_plan.computational_thinking_links %}
      {% include "topics/computational-thinking-links.html" %}
    {% endwith %}
  {% endif %}
{% endblock left_column_content  %}

{% block right_column_content %}
  {% if unit_plan.translation_available %}
  <div id="sticky-sidebar" class="position-sticky">
    <h2 class="heading-underline">{% trans "Table of contents" %}</h2>
    <ul class="nav nav-pills flex-column" id="scrollspy-table-of-contents">
      <li class="nav-item">
        <a class="nav-link" href="#{{ unit_plan.slug }}">{{ unit_plan.name }}</a>
      </li>
      {% for heading_node in unit_plan.heading_tree %}
        <li class="nav-item">
          <a class="nav-link" href="#{{ heading_node.slug }}">{{ heading_node.text }}</a>
        </li>
      {% endfor %}
      {% if unit_plan.computational_thinking_links %}
        <li class="nav-item">
          <a class="nav-link" href="#ct-links">{% trans "Computational Thinking" %}</a>
        </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
{% endblock right_column_content %}
