{% extends "at_a_distance/base.html" %}

{% load i18n %}
{% load static %}
{% load translate_url %}

{% block custom_title %}
    {% trans "CS Unplugged at a distance" %}
{% endblock custom_title %}

{% block body_container %}
    <div id="at-a-distance-jumbotron" class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <img src="{% static 'img/cs-unplugged-logo-at-a-distance.svg' %}" class="img-fluid my-5" alt="CS Unplugged at a distance logo">
                    <h2 class="h4 text-dark">
                        {% blocktrans trimmed %}
                            Guides on how to teach CS Unplugged remotely to students, or to train educators.
                        {% endblocktrans %}
                    </h2>

                    <div class="alert alert-warning d-inline-block my-4" role="alert">
                        You are viewing a sneak peek of new content.
                        Contents and pages can change or disappear at any time, so we do not recommend using this content for teaching until this content is fully released.
                        Feel free to look around in the meantime to see what's coming soon!
                    </div>

                    {% if LANGUAGE_CODE != "en" %}
                        <div class="alert alert-danger text-dark" role="alert">
                            {% blocktrans trimmed with language=current_language.name_local %}
                            <h4>Sorry! This item is not yet available in {{ language }}.</h4>
                            <p>This item is available in the following languages:</p>
                            {% endblocktrans %}
                            <p class="mb-0">
                                {% with language='en' %}
                                    <a class="btn btn-outline-primary" href="{% translate_url language %}">
                                        English
                                    </a>
                                {% endwith %}
                                <a class="btn btn-outline-danger" href="{% url 'general:home' %}">
                                    {% trans "Return to homepage "%}
                                </a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="lessons" class="row justify-content-start">
            {% for lesson in lessons %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a class="link-item no-text-decoration d-block h-100{% if not lesson.translation_available %} unavailable{% endif %}" href="{% url 'at_a_distance:lesson' lesson.slug %}">
                        <div class="row align-items-center h-100">
                            <div class="col-12 text-center text-md-{{LANGUAGE_START}}">
                                <h2>{{ lesson.name }}</h2>
                                {% if not lesson.translation_available %}
                                    {% include "generic/not-available-badge.html" %}
                                {% endif %}
                            </div>
                            <div class="d-none col-md-5 d-md-flex justify-content-end align-items-end">
                                {% if lesson.icon %}
                                    <img class="img-fluid" src="{% static lesson.icon %}">
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body_container %}
