{% extends "at_a_distance/base.html" %}

{% load i18n static render_html_field django_bootstrap_breadcrumbs %}

{% block title %}
    {{ lesson.name }}
{% endblock title %}

{% block breadcrumbs %}
    {% breadcrumb lesson.name "at_a_distance:lesson" lesson.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}

    <div id="{{ lesson.slug }}" class="row align-items-center mb-3">
        <div class="d-none col-md-1 d-md-flex justify-content-end align-items-end">
            {% if lesson.icon %}
                <img class="img-fluid" src="{% static lesson.icon %}">
            {% endif %}
        </div>
        <div class="col-12 col-md-7">
            <h1>{{ lesson.name }}</h1>
            {% if not lesson.translation_available %}
                {% include "generic/not-available-badge.html" %}
            {% endif %}
        </div>
        <div class="col-12 col-md-4">
            {% include "at_a_distance/components/suitability-boxes.html" %}
        </div>
    </div>
{% endblock page_heading %}


{% block content_container %}
    <div class="col-12 col-md-8 print-col-12">
        {% render_html_field lesson.introduction %}

        {% if lesson.supporting_resources.all %}
            <h3>Supporting Resources</h3>
            <ul id="supporting_resources">
                {% for supporting_resource in lesson.supporting_resources.all %}
                    <li>
                        <a href="{{ supporting_resource.url }}">
                            {{ supporting_resource.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if lesson.translation_available %}
        <div class="col-12 col-md-4 print-col-12">
            <div id="resource-buttons">
                <a class="btn btn-outline-at-a-distance d-block mb-3" href="{% url 'at_a_distance:lesson_slides' lesson.slug %}" target="_blank">
                    <img class="resource-button-image" src="{% static 'img/at_a_distance/button-open-slides.svg' %}">
                    <div class="resource-button-text">
                        Open slides in presentation mode
                    </div>
                </a>
                <a class="btn btn-outline-at-a-distance d-block mb-3" href="{% static notes_pdf %}" target="_blank" download="{{ lesson.name }} - Speaker Notes.pdf">
                    <img class="resource-button-image" src="{% static 'img/at_a_distance/button-download-speaker-notes.svg' %}">
                    <div class="resource-button-text">
                        Download speaker notes as PDF
                    </div>
                </a>
                <a class="btn btn-outline-at-a-distance d-block" href="{% static slides_pdf %}" target="_blank" download="{{ lesson.name }} - Slides.pdf">
                    <img class="resource-button-image" src="{% static 'img/at_a_distance/button-download-slides.svg' %}">
                    <div class="resource-button-text">
                        Download slides as PDF
                    </div>
                </a>
                <div class="resource-button-subtitle mb-3">
                    (not recommended - no interactive elements)
                </div>
            </div>
        </div>
        <div class="col-12">
            <h2>Preview slides with notes</h2>

            <div class="alert alert-danger my-2 d-block d-md-none">
                We recommend previewing these slides on a larger screen to view the slides and speaker notes easily.
            </div>

            <aside class="reveal-controls-help-container">
                {% include "at_a_distance/components/reveal-controls-help.html" %}
            </aside>

            {% include "at_a_distance/components/reveal-slides-structure.html" with embed=True %}
        </div>
    {% endif %}
{% endblock content_container %}

{% block scripts %}
    {{ block.super }}
    {% include "at_a_distance/components/reveal-initialize.html" with embedded="true" speaker_mode=False show_notes="true" %}
{% endblock scripts %}
