{% extends "at_a_distance/base.html" %}

{% load i18n %}
{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    {{ lesson.name }}
{% endblock title %}

{% block breadcrumbs %}
    {% breadcrumb lesson.name "at_a_distance:lesson" lesson.slug %}
{% endblock breadcrumbs %}

{% block page_heading %}
    <h1 id="{{ lesson.slug }}">{{ lesson.name }}</h1>
    {% if not lesson.translation_available %}
      {% with model=lesson %}
        {% include "topics/not-available-warning.html" %}
      {% endwith %}
    {% endif %}
{% endblock page_heading %}

{% block content %}
    {% if lesson.translation_available %}
        {% render_html_field lesson.introduction %}

        <p>
            <a href="{% url 'at_a_distance:lesson_slides' lesson.slug %}" class="btn btn-primary" target="_blank">
                Open slides in presentation mode
            </a>
        </p>

        <h2>Slides with notes</h2>
        <div>
            <h3 class="h6">How to use the slideshow</h3>
            <ul>
                <li>Press <kbd>F</kbd> to enter full screen.</li>
                <li>Press <kbd>Esc</kbd> to exit full screen.</li>
            </ul>
        </div>

        {% include "at_a_distance/components/reveal-slides-structure.html" with embed=True %}
    {% endif %}
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    {% include "at_a_distance/components/reveal-initialize.html" with embedded="true" speaker_mode=False show_notes="true" %}
{% endblock scripts %}
