{% load static render_html_field %}

{% for step in activity_steps %}
    <div class="card mb-3">
        <div class="card-header">
            Step {{ forloop.counter }}
        </div>
        <img src="{{ "{% static '" }}{{ step.image }}{{ "' %}" }}" class="card-img rounded-0 at-home-img">
        <div class="card-body">
            <h5 class="card-title">
                {% render_html_field step.description %}
            </h5>
            {% if step.extra %}
                <p class="card-text">
                    {% render_html_field step.extra %}
                </p>
            {% endif %}
        </div>
    </div>
{% endfor %}
