{% load static render_html_field %}

{% for step in activity_steps %}
    <div class="card mb-3">
        <div class="card-header">
            Step {{ forloop.counter }}
        </div>
        <img src="{{ "{% static '" }}{{ step.image }}{{ "' %}" }}" class="card-img rounded-0 activity-step-img">
        <div class="card-body">
            {% if step.presenter_says %}
                <h5 class="card-title">
                    {% render_html_field step.presenter_says %}
                </h5>
            {% endif %}
            {% if step.presenter_commentary %}
                <p class="card-text">
                    {% render_html_field step.presenter_commentary %}
                </p>
            {% endif %}
        </div>
    </div>
{% endfor %}
