{% load static %}
{% load render_html_field %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>CS Unplugged</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>
<body>
  <nav class="navbar fixed-top navbar-toggleable-sm navbar-light">
    <div class="container px-0">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="{% url 'general:home' %}">
        <img src="{% static 'img/logo-small.png' %}" id="navbar-brand-logo" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'topics:index' %}">Topics</a>
          <a class="nav-item nav-link" href="{% url 'resources:index' %}">Resources</a>
          <a class="nav-item nav-link" href="{% url 'general:about' %}">About</a>
        </div>
      </div>
    </div>
  </nav>

  {% load django_bootstrap_breadcrumbs %}

  {% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" "/" %}
  {% endblock %}

  <div id="content-container" class="container">
    {% block body_container %}

    {% endblock body_container %}
  </div>

  <div class="container white-footer mt-5 py-5 text-center">
    <div class="row align-items-center justify-content-center">
      <div class="col-4 col-lg-3">
        <a href="http://www.cosc.canterbury.ac.nz/research/RG/CSE/">
          <img class="img-fluid" src="{% static 'img/uc-computer-science-education-logo.png' %}">
        </a>
      </div>
      <div class="col-4 col-lg-3">
        <a href="https://www.google.com">
          <img class="img-fluid" src="{% static 'img/google-logo-colour.png' %}">
        </a>
      </div>
      <div class="col-4 col-lg-3">
        <a href="https://www.microsoft.com/about/philanthropies/">
          <img class="img-fluid" src="{% static 'img/microsoft-philanthropies-logo' %}.png">
        </a>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-3">
        <p class="mb-1 font-weight-bold">Useful Links</p>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'general:about' %}">
              About
            </a>
          </li>
          <li>
            <a href="{% url 'topics:index' %}">
              Topics
            </a>
          </li>
          <li>
            <a href="{% url 'resources:index' %}">
              Resources
            </a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <p class="mb-1 font-weight-bold">Community</p>
        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/UCCSEd">
              Twitter
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/csunplugged">
              YouTube
            </a>
          </li>
          <li>
            <a href="https://github.com/uccser/cs-unplugged">
              GitHub
            </a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <p class="mb-1 font-weight-bold">Help</p>
        <ul class="list-unstyled">
          <li>
            <a href="#">
              FAQ
            </a>
          </li>
          <li>
            <a href="{% url 'general:contact' %}">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <footer>
    <div class="container py-3">
      <p class="mb-0">
        The CS Unplugged material is open source and shared under a Creative Commons BY-NC-SA 4.0 licence, and is available on <a href="https://github.com/uccser/cs-unplugged">GitHub</a>.
      </p>
    </div>
  </footer>

  <div class="modal fade" id="glossary-modal" tabindex="-1" role="dialog" aria-labelledby="glossary-modal-term" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="glossary-modal-term"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="glossary-modal-definition"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/tether.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/website.js' %}"></script>
  <script src="{% static 'js/details-element-polyfill.js' %}"></script>
</body>
</html>
