<section>
    <h2>Key question</h2>
    <ul>
        <li>
            How do you think a digital device stores information?
        </li>
    </ul>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Have you ever wondered how digital devices store information?
                What does a text, photo, or movie actually consist of inside your device?
                We will explore this during this session.
            </p>

            <p>
                Inside all computers there are billions of tiny little things that can be set to one of two states, like a light switch being turned either on or off.
                When you have a lot of these things together they can represent a number, a letter, a movie, or make up your favourite game on your device.
                Let's look at how they work.
            </p>

            <p>
                We are going to run through this exercise as you would with your own participants.
                If you are doing it with a group face-to-face it is best to have 5 participants stand in front of the group holding a card each.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <h2>&nbsp;</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=1&rtl=true&hide-ui=true&total=false"></iframe>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Here is a card.
                It shows one dot on one side, and is black on the other.
                We are going to use it to represent a bit.
                Each bit can be either switched on (with the dots showing) or switched off with the black showing.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <h2>&nbsp;</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=2&rtl=true&hide-ui=true&total=false"></iframe>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Here I've added another bit.
                It has two dots on it. If we were doing this in real life we would be handing out cards to participants and having them stand in a row as we introduce each bit (card).
            </p>

            <p>
                A quick note for when you are teaching this: while you will probably instinctively want to display the cards counting up from left to right, please resist this temptation.
                Like in the decimal system, the smallest number is on the right.
                In the decimal number 123, the number '3' only has the value of 3, while the '2' represents 20 and the '1' represents 100.
                The digit on the right hand end of the number has the smallest value, just like in binary.
            </p>

            <p>
                How many dots do you think the next card will show?
                Pretend you are an 8-year-old, what would they say?
                Write your answer in the chat, or hold up the number of fingers you think.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for at least a few participants to respond.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                I can see some 3s, and yes, that is what most 8-year-olds would say, the next number in a sequence of 1, 2, is 3.
                This is when we quietly reveal the next bit to be…
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <h2>&nbsp;</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=3&rtl=true&hide-ui=true&total=false"></iframe>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Four.
                Most students will then tell the teacher they have made a mistake.
                But if you let them think for a little bit someone will normally work out the pattern.
            </p>

            <p>
                What do you think the next number will be?
                Remember to think like an 8-year-old.
                Put your ideas in the chat.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for some answers to appear in the chat.
        </p>


        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                I can see several 6s, and a couple of 8s.
                You are right, many students will see the pattern as counting in 2s at this stage, 2, 4, 6… Occasionally you will get a student who correctly says…
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <h2>&nbsp;</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=4&rtl=true&hide-ui=true&total=false"></iframe>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                …8.
                At this stage some students will probably get excited as they see the pattern.
                Share in the chat what you think the next number will be.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for some answers to appear in the chat.
        </p>


        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                That's right…
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <h2>&nbsp;</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=5&rtl=true&hide-ui=true&total=false"></iframe>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                …16.
                And it keeps going…
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <h2>&nbsp;</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=6&rtl=true&hide-ui=true&total=false"></iframe>

    <aside class="notes">
        <p>
            Show this long enough for participants to see the 32.
        </p>
    </aside>
</section>

<section class="r-flex">
    <h2>&nbsp;</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=7&rtl=true&hide-ui=true&total=false"></iframe>

    <aside class="notes">
        <p>
            Show this long enough for participants to see the 64.
        </p>
    </aside>
</section>

<section class="r-flex">
    <h2>&nbsp;</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=8&rtl=true&hide-ui=true&total=false"></iframe>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                When you are teaching this it is good to get the students to explain how they are working out what the next number is.
                Often they will use the term 'doubling', or they might explain it as 1+1=2, 2+2=4…
            </p>

            <p>
                Now that we know the pattern, and how many dots are on each bit, it's time to have some fun.
                For the rest of this session we are going to use 5 cards.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <h2>Show exactly 13 dots</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5 binary-cards-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=5&rtl=true&hide-ui=true&total=false"></iframe>

    <aside class="notes">
        <p>
            <em>Click on the cards to toggle them as required.</em>
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                I want you to think about how we can show exactly 13 dots using these cards.
                Remember, each bit can either be switched on, showing us its dots for us to count, or switched off, with its dots hidden.
            </p>

            <p>
                A good way to do this is to go through the bits bit by bit, from left to right, asking if we want each bit for our final number.
                Do you want the 16 visible for our 13?
                Type 'yes' or 'no' in the chat.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for responses.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                I can see a lot of no's, so we will turn that card over.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Turn over the first card by clicking on it.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Do we want the 8 bit card visible to make our 13?
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for responses.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                I can see a lot of yes's so I'll leave that card face up.
            </p>

            <p>
                What about the 4 bit card?
                Do we want the 4 bit card visible?
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for responses.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                I can see some more yes's so I'll leave that face up too.
            </p>

            <p>
                What about the 2 bit card?
                Do we want it visible?
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for responses.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                I can see several no's so I'll turn that card over and hide the dots.
            </p>

            <p>
                What about the 1 bit card?
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for responses.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                There's a lot of yeses so I'll leave that one face up.
                Well done.
                As you can see, we now have exactly 13 dots showing.
                What you've typed into the chat is 'no, yes, yes, no, yes', but you've communicated the number 13.
                Another way we could have said that is zero, one, one, zero, one, where we use 'one' instead of yes and 'zero' instead of no.
            </p>

            <p>
                Let's have a go with another number.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <h2>Show exactly 25 dots</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5 binary-cards-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=5&rtl=true&hide-ui=true&total=false"></iframe>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                What bits do you need to show the number 25, and how would you say that using just zeros and ones, if we use 'one' for yes, and 'zero' for no?
                Type your ideas in the chat.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for responses.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                I've seen a few answers in the chat.
                I think most of them were right.
                The answer is one, one, zero, zero, one.
            </p>

            <p>
                That's how binary representation works.
                You've only been able to type in one of two answers, either 'yes' or 'no', or zero or one, but you've been able to communicate numbers.
                As you can probably see now, any number can be represented using binary digits.
            </p>

            <p>
                Each of these cards represents one binary digit.
                When we talk about digital devices these are the digits in 'digital'.
                Because there is only two choices (on or off, showing or not showing), the word 'binary' is used.
                The 'bi' of binary is the same as the 'bi' in bicycle: it means two.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section>
    <div class="binary-digit-word">
        <h2 class="r-inline-block r-font-size-10 r-m-0">Bi</h2>
        <h2 class="r-inline-block r-font-size-10 r-m-0">nary Digi</h2>
        <h2 class="r-inline-block r-font-size-10 r-m-0">ts</h2>
    </div>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                The term 'binary digits' is shortened to...
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Go to the next slide...
        </p>
    </aside>
</section>

<section data-custom-animation="binary-digit-word">
    <div id="binary-digit-word-animation" class="binary-digit-word">
        <h2 id="binary-digit-word-animation-start" class="r-inline-block r-font-size-10 r-m-0">Bi</h2>
        <h2 id="binary-digit-word-animation-middle" class="r-inline-block r-font-size-10 r-m-0 r-text-red">nary Digi</h2>
        <h2 id="binary-digit-word-animation-end" class="r-inline-block r-font-size-10 r-m-0">ts</h2>
    </div>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                ...'bits'.
                8 bits are called a 'byte', which you've probably heard of to do with computer storage (megabyte, gigabyte etc).
            </p>

            <p>
                Let's have a go at communicating something different. Let's try a month of the year.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <h2>What month is this?</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5 binary-cards-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=5&rtl=true&hide-ui=true&total=false&start=BWBWB"></iframe>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                What month are these yes's and no's representing?
                Type your answer in the chat.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for responses.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                That's right, the tenth month, October.
                We need to remember when we talk about the numbers of a calendar month that not necessarily everyone will be using the same calendar.
                The Chinese and Persian calendars for example start at different times of the year.
            </p>

            <p>
                We've looked at representing numbers using binary digits.
                Let's look at how we can represent letters of the alphabet.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <h2>Letters</h2>
    <iframe class="r-flex-grow r-iframe-scale-1-5 binary-cards-5" src="https://www.csfieldguide.org.nz/en/interactives/iframe/binary-cards/?cards=5&rtl=true&hide-ui=true&total=false"></iframe>
    <p>
        <code class="fragment fade-down r-font-size-3">
            no, yes, no, no, no
        </code>
    </p>
    <p>
        <code class="fragment fade-down r-font-size-3">
            no, yes, no, no, yes
        </code>
    </p>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                When we look at the alphabet with students we can support them to get to the point where they say A can be 1, B can be 2, C 3 and so forth.
                Of course, you may get a mischief student who says T should be 1, W should be 2, and S should be 3, but usually the class will talk them out of that!
            </p>

            <p>
                I'm going to communicate a letter of the alphabet to you.
                You can work it out and share your answer in the chat.
                I'm using five binary cards for this.
                The message I'm sending you is no, yes, no, no, no.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            <em>
                Push the next slide button to show 'no, yes, no, no, no' on the screen.
            </em>
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                What letter of the English alphabet is that?
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for responses.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                I'm seeing a lot of Hs in the chat.
                You're right, the answer is H.
                Here's my next letter.
                What letter have I represented here?
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            <em>
                Push the next slide button to show 'no, yes, no, no, yes' on the screen.
            </em>
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                I'm seeing a lot of I's in the chat.
            </p>

            <p>
                I is the 9th letter of the English alphabet.
                Once again you are right.
                So what word did I just spell out?
                Put your answer in the chat.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for responses.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                That's right.
                I've been able to send a whole message to you using just the words yes and no.
                The message was 'Hi'.
            </p>

            <p>
                As you can see we've been able to communicate months of the year, letters of the alphabet, and numbers, just by saying yes or no.
                Properly we would have been saying zero, one, zero, one, one, instead of yes's and no's.
                It all comes down to the same idea, that is, so long as I can communicate two values, I can communicate anything I want.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section>
    <h2>Alternative objects</h2>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                A fun thing to do with a class is to get them to think of other methods that can be used to send binary messages.
                All that is needed is two distinct states, such as sitting and standing, or orange and blue stickie notes.
                A group of 5 students can sit or stand in order to communicate a letter, or you could put a series of colour stickie notes on a window to represent a message.
            </p>

            <p>
                High and low notes can be used.
                In fact, this is how modems used to work before they used optical fibre.
                Some of you may remember the screeching sounds computers used to make when they were connecting to the internet.
                While they sounded like random sounds to us they were actually a series of high and low notes allowing the computers to communicate using binary.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section>
    <h2>Key question</h2>
    <ul>
        <li>
            How do you think a digital device stores information?
        </li>
    </ul>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Going back to the original question: how do digital devices store information?
                The concept of binary digits is used to represent everything we do on digital devices.
                Whether it be shiny or not shiny markings on a CD (invisible to the naked eye), or magnetised north or south particles on a hard drive, binary digits are behind how all digital devices work.
                Computers even use binary digits behind the scenes to store and create all the digital images on computers, but that's a whole other topic.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<script>
    var word_animation;

    {% comment %} Wait until JavaScript library is loaded {% endcomment %}
    document.addEventListener("DOMContentLoaded", function(event) {
        word_animation = document.getElementById('binary-digit-word-animation');
        Reveal.on('ready', checkWordAnimation);
        Reveal.on('slidechanged', checkWordAnimation);
    });

    function checkWordAnimation(event) {
        if ('customAnimation' in event.currentSlide.dataset) {
            word_animation.classList.add('animate');
        } else {
            word_animation.classList.remove('animate');
        }
    }
</script>
