<section>
    <h2>Key question</h2>
    <ul>
        <li>
            How can information be measured?
        </li>
        <li>
            What is entropy?
        </li>
    </ul>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
               By the end of this session we'll be able to answer these questions:
            </p>

            <ul>
                <li>
                    How can information be measured?
                </li>
                <li>
                    What is entropy?
                </li>
            </ul>

            <p>
                Often it is suggested that we can measure information on a computer by the size of the file.
                This is a good idea, but what if the file is a three minute recording of a blank, silent screen?
                Does this have as much information as a three minute instructional video on how to cook a roast meal?
            </p>

            <p>
                We are going to play a game to demonstrate one way of working out how much information a file holds.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section>
    <h2>Claude Shannon</h2>
    <h3>1916 - 2001</h3>

    <p>Juggler, mathematician, inventor...</p>

    <figure>
        <blockquote>
            <p>A hundred years after his birth, Claude Shannon’s fingerprints are on every electronic device we own.</p>
        </blockquote>
        <figcaption>—Siobhan Roberts <cite>The New Yorker 2016</cite></figcaption>
    </figure>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
               The method I'm going to share today was created by Claude Shannon, an American mathematician who published a paper on this theory in 1951.
               Siobhan Roberts wrote in The New Yorker magazine in 2016 “A hundred years after his birth, Claude Shannon's fingerprints are on every electronic device we own.”
               In this session we are going to see just how true this is.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section class="r-flex">
    <iframe class="r-flex-grow r-iframe-scale" src="https://cs-field-guide-dev.csse.canterbury.ac.nz/en/interactives/iframe/shannon-experiment/?sentence=THERE IS NO REVERSE ON A MOTORCYCLE."></iframe>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                We will be using this interactive to help us guess what the sentence is.
                Let's start!
                I'm thinking of a sentence.
                You, as a group, are going to guess what my sentence is.
                What do you think the first letter is?
                Put your choice in the chat and I will enter the most popular one into the interactive.
                If we guess correctly, the letter will show in black.
                If we guess incorrectly it will show in red.
                I see several people have suggested __.
                Let's try it.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            The sentence is: <code>THERE IS NO REVERSE ON A MOTORCYCLE.</code>
            <strong>DO NOT SAY THIS SENTENCE TO PARTICIPANTS!</strong>
        </p>
    </aside>
</section>
