<section>
    <h2>Key questions</h2>
    <ul>
        <li>
            Have you ever had a DVD glitch, a download fail, or a file that your computer can't open because it's corrupted?
        </li>
    </ul>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Today's session focuses on exploring the answers to these questions together.
            </p>
            <p>
                Have you ever had a DVD glitch, a download fail, or a file that your computer can't open because it's corrupted?
                What did you see and how did you know it didn't work?
            </p>
            <p>
                Write your answers in the chat (or the shared space you're using for communicating).
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Likely answers could be: the dvd skips, the image and sound freezes, the image is pixelated, the sound slows down or doesn't work at all.
            You might get a message stating the file is corrupted or can't be opened.
            With a download you might be asked to try again.
        </p>
        <p>
            Consider the shared space that your participants can use to interact and share their answers for this question.
            It could be via the chat because the answers are short.
            You could also use an application like Padlet or Jamboard.
        </p>
    </aside>
</section>

<section class="r-centered">
    <h2>Parity interactive</h2>
    <iframe class="r-flex-grow" data-src="https://cs-field-guide.localhost/en/interactives/iframe/parity/"></iframe>
</section>
