<section>
    <h2>Key questions</h2>
    <ul>
        <li>
            Have you ever used an application and had to think carefully about what to click?
        </li>
        <li>
            Do software designers use psychology concepts when designing their applications?
        </li>
    </ul>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            Have you ever used an application, or website, and had to think carefully about what to click?
            Share in the chat if you can think of an example when you had to think carefully about what to click.
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait until a couple of suitable comments have been made in the chat and comment appropriately on them.
            As a prompt about thinking carefully, you might ask if they've had a dialogue box that says “yes”, “no” and “cancel”, and they've had to think hard about whether they want “no” or “cancel”; or if they've been in a situation where they are worried pressing the wrong button will cause major problems.
            For thinking about whether software designers use psychology, they might think about whether some apps/software seems very easy to use, and others are very confusing.
            Is this by accident, or has some thought gone into them?
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            We are going to go through the next few slides quickly.
            As each one comes up, say the <strong>colour</strong> you see and not the word.
            You will be kept on mute, so you can say it to yourself.
            Here we go...
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section>
    <h1 class="r-font-size-20 r-text-green">RED</h2>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            Was that difficult?
            Remember, you should say the colour, not the word.
            Here's another one...
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Keep your participants on mute.
            Show each of the following slides for 1 or 2 seconds only.
        </p>
    </aside>
</section>

<section>
    <h1 class="r-font-size-20 r-text-blue">GREEN</h2>
</section>

<section>
    <h1 class="r-font-size-20 r-text-purple">BLUE</h2>
</section>

<section>
    <h1 class="r-font-size-20 r-text-red">BLACK</h2>
</section>

<section>
    <h1 class="r-font-size-20 r-text-black">RED</h2>
</section>

<section>
    <h1 class="r-font-size-20 r-text-green">PURPLE</h2>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            From a scale of 1 - 5, with one being difficult and five being easy, write in the chat how difficult or frustrating you found it to say the colour of the word, rather than the word itself.
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Allow time for a few responses and comment appropriately, e.g. “I see many people found it tricky.”
        </p>
    </aside>
</section>

<section>
    <h2>Instructions for timing exercises</h2>
    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Now we've had the warm up, let's try timing this activity.
                I have two lists and we will time how long it takes to read each of them.
            </p>
            <p>
                These next two activities are the same as our practice round, but with all the words on one page.
                Say the colour the word is printed in, rather than the word.
                The slide will also show a timer; when you have read all of the words out loud, look at the timer at the bottom and note what time it is on when you finish.
                Are you ready?
                Here's the list for you to read...
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Count down from 5 seconds, then move to the next slide and say “Go!”.
        </p>
    </aside>
</section>

<section data-timer="1">
    <h1 class="r-font-size-2">Incongruent</h2>
    <div class="r-grid r-grid-columns">
        <div class="left-column r-font-size-3 r-bold">
            <div class="r-text-green">Yellow</div>
            <div class="r-text-purple">Green</div>
            <div class="r-text-red">Purple</div>
            <div class="r-text-green">Red</div>
            <div class="r-text-yellow">Black</div>
            <div class="r-text-red">Blue</div>
            <div class="r-text-black">Purple</div>
            <div class="r-text-red">Blue</div>
            <div class="r-text-blue">Green</div>
        </div>
        <div class="right-column r-flex r-flex-align-items-center r-font-size-5">
            <div id="timer-1"></div>
        </div>
    </div>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            Now type how long it took into the chat. It's not a test of how clever you are - it's more a test of how silly the exercise is!
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait until a large majority at least have entered a time in the chat.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            From the chat it looks like you've all had a go.
            The range of times seems to be [estimate the time range], so let's make the average time for this to be [say a time that would be close to the average; it will typically be around 10 to 14 seconds, and your estimate doesn't have to be very accurate].
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Note the average time you have stated.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            We'll repeat the activity with the next slide.
            This time the words will be “congruent” with the colours - the colour will be the same as the word.
            Let's see how long this one takes!
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Countdown from 5 seconds, move to the next slide, and say “Go!”.
        </p>
    </aside>
</section>

<section data-timer="2">
    <h1 class="r-font-size-2">Congruent</h2>
    <div class="r-grid r-grid-columns">
        <div class="left-column r-font-size-3 r-bold">
            <div class="r-text-red">Red</div>
            <div class="r-text-purple">Purple</div>
            <div class="r-text-green">Green</div>
            <div class="r-text-red">Red</div>
            <div class="r-text-yellow">Yellow</div>
            <div class="r-text-green">Green</div>
            <div class="r-text-black">Black</div>
            <div class="r-text-blue">Blue</div>
            <div class="r-text-red">Red</div>
        </div>
        <div class="right-column r-flex r-flex-align-items-center r-font-size-5">
            <div id="timer-2"></div>
        </div>
    </div>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            Now type your new time into the chat.
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait again until the majority of participants have added a time to the chat.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            This time the range of times seems to be [estimate the time range], so let's make the average time for this to be [say a time that would be the average; it would typically be around 5 to 7 seconds for the easier version].
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Note the average time you have stated.
        </p>
    </aside>
</section>

<section>
    <h1 class="r-font-size-2">Results</h2>
    <div class="r-grid r-grid-columns">
        <div class="left-column r-font-size-3 r-bold">
            <h3>Incongruent</h3>
            <div class="r-text-green">Yellow</div>
            <div class="r-text-purple">Green</div>
            <div class="r-text-red">Purple</div>
            <div class="r-text-green">Red</div>
            <div class="r-text-yellow">Black</div>
            <div class="r-text-red">Blue</div>
            <div class="r-text-black">Purple</div>
            <div class="r-text-red">Blue</div>
            <div class="r-text-blue">Green</div>
        </div>
        <div class="right-column r-font-size-3 r-bold">
            <h3>Congruent</h3>
            <div class="r-text-red">Red</div>
            <div class="r-text-purple">Purple</div>
            <div class="r-text-green">Green</div>
            <div class="r-text-red">Red</div>
            <div class="r-text-yellow">Yellow</div>
            <div class="r-text-green">Green</div>
            <div class="r-text-black">Black</div>
            <div class="r-text-blue">Blue</div>
            <div class="r-text-red">Red</div>
        </div>
    </div>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Let's compare the times; what do you notice?
                What would be the ratio?
                [Typically the congruent list is 2 to 3 times faster to read.]
            </p>
            <p>
                Share in the chat if you've felt like this using a digital system, where the interface (what it has displayed to you) is confusing to use.
            </p>
            <p>
                Has a bad interface ever slowed you down or made you feel frustrated or even anxious?
            </p>
            <p>
                This activity is called the 'Stroop effect' and is a famous experiment from psychology named after John Ridley Stroop.
                The Stroop test measures the amount of time it takes to say the name of the printed colours in an incongruent (incompatible, non-matching) list and compares this time to saying the name of the print colour in a congruent (agreeing, matching) list.
                Stroop found that people were often 2 or 3 times slower trying to read incongruent information.
            </p>
            <p>
                Let's see it how this applies to Human Computer Interaction.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section>
    <h2>HCI in action</h2>
    {% comment %} Image for airline interface {% endcomment %}

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                This screen is from an airline booking system; once you have entered all the details, it asks this questions.
                What do you notice about it?
                Share your ideas in the chat.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            What for a couple of responses and respond appropriately.
            <strong>Answer:</strong> if people are in a hurry, they will naturally press the green button to continue (green means “go”, orange means “warning”), but that will wipe all the information they have entered.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                A lot of people pressed the wrong button and lost all their work.
                You could say that they didn't read it properly, but usually people are under pressure when they are using systems, and don't have time to carefully consider every step.
                If you expect them to do that, then it's like the Stroop effect.
                A good interface shouldn't make people have to think hard.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section>
    <h2>HCI in action</h2>
    {% comment %} Image for quit prompt {% endcomment %}

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Suppose you didn't really want to quit this program.
                Which button should you press to avoid losing your work?
                Are you sure?
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            What for a few answers and respond appropriately.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                This isn't a drastic problem, but you do have to think carefully, and the consequences of a mistake are severe.
                Interfaces should be worded in a way that the user can confidently navigating it without having to stop and think hard all the time.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section>
    <h2>HCI in action</h2>
    {% comment %} Image of date prompt {% endcomment %}

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                This is our last example.
                Why is this an invalid date format?
                What would you need to type to make it correct?
                Share your ideas in the chat.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <p>
            Wait for some responses and respond appropriately.
            <strong>Answer:</strong> The month is in capital letters (“MAR”) but it should be written as “Mar”.
            The format shows “MMM” which conflicts with the “Mar” example.
        </p>

        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                These are examples of just one type of problem in interfaces: confusing people with potentially contradictory messaging, even though they can work out what to do if they think about it.
                It only slows people down a little, but it can make them feel like you did when doing the Stroop experiment - frustrated and anxious, when they are trying to get their work done.
                Good interface designers anticipate and avoid these sorts of problems.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section>
    <h2>HCI: Answering our key question</h2>
    <p>Do software designers use psychology concepts when designing their applications?</p>

    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Software designers write programs for people, not for computers.
                We've shown in this session how important it is for them to consider and understand how their end users (people) will interact with the programs they create.
            </p>
            <p>
                This kind of problem is just one of many ways that bad interfaces can make life difficult for computer users.
                There are many other ideas from psychology that are important in interface design, such as the length of delays people can handle waiting for software to respond (spoiler: one tenth of a second is the limit in a lot of cases), how inconsistent designs can be confusing, and lots more.
                Many of these things are fun when they are a game like the one we played, but can be very frustrating when the prevent someone from getting their job done.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}
    </aside>
</section>

<section>
    <h2>Stroop effect - Supporting resources</h2>
    <ul>
        <li>
            Online Course (MOOC) - Teaching Computational Thinking<br>
            <a href="https://www.edx.org/course/teaching-computational-thinking">https://www.edx.org/course/teaching-computational-thinking</a>

            <ul>
                <li>Section 9: Human capabilities</li>
                <li>Examples of face to face teaching in Section 9.1 - Stroop effect lessons</li>
            </ul>
        </li>
        <li>
            Computer Science Field Guide: Human Computer Interaction<br>
            <a href="https://www.csfieldguide.org.nz/en/chapters/human-computer-interaction/">https://www.csfieldguide.org.nz/en/chapters/human-computer-interaction/</a>
        </li>
    </ul>


    <aside class="notes">
        {% include "at_a_distance/components/speech-bubble-open.html" %}
            <p>
                Here are the supporting resources for you.
                The first link show more details relating to this issue for young students.
                The Computer Science Field Guide chapter shows a broader view of the kinds of interface issues that can come up.
            </p>
        {% include "at_a_distance/components/speech-bubble-close.html" %}

        <pre>
            Online Course (MOOC) - Teaching Computational Thinking
            https://www.edx.org/course/teaching-computational-thinking

            See:
            - Section 9: Human capabilities
            - Examples of face to face teaching in Section 9.1 - Stroop effect lessons

            Computer Science Field Guide: Human Computer Interaction
            https://www.csfieldguide.org.nz/en/chapters/human-computer-interaction/
        </pre>
    </aside>
</section>

<script>
    var timers = {
        1: {
            limit: 20,
        },
        2: {
            limit: 20,
        },
    };

    {% comment %} Wait until JavaScript library is loaded {% endcomment %}
    document.addEventListener("DOMContentLoaded", function(event) {
        slides.on( 'slidechanged', event => {
            if ("timer" in event.currentSlide.dataset) {
                var id = event.currentSlide.dataset.timer;
                if (timers[id].timer) {
                    stopTimer(id);
                }
                startTimer(event.currentSlide.dataset.timer);
            }
        });
    });

    function startTimer(id) {
        timers[id].time = 0;
        timers[id].element = document.getElementById(`timer-${id}`);
        displayTime(timers[id]);
        timers[id].timer = setInterval(() => {
            timers[id].time = timers[id].time += 1;
            displayTime(timers[id]);
            if (timers[id].time > timers[id].limit) {
                clearInterval(timers[id].timer);
            }
        }, 1000);
    }

    function displayTime(timer) {
        if (timer.time == 1) {
            var unit = " second";
        } else {
            var unit = " seconds";
        }
        if (timer.time > timer.limit ) {
            var time = `${timer.limit}+`;
        } else {
            var time = timer.time;
        }
        timer.element.innerHTML = `${time} ${unit}`;
    }

    function stopTimer(id) {
        clearInterval(timers[id].timer);
    }
</script>
