div#base-image-container {
  text-align: center;
}
img#base-image {
  max-width: 100%;
  page-break-after: always;
  page-break-before: always;
  page-break-inside: avoid;
}
footer {
  position: fixed;
  bottom: 100%;
  margin-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  color: #888;
}
footer .logo-text {
  color: #cc0423;
}
