div#base-image-container {
  text-align: center;
  page-break-after: always;
}
img#base-image {
  max-width: 100%;
  margin: 8mm;
}
.fixed-running-element{
  text-align: center;
  width: 100%;
  position: fixed;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  color: #888;
}
.fixed-running-element img {
  max-height: 1.5em;
  vertical-align: text-bottom;
}
.fixed-running-element .logo-text {
  color: #cc0423;
}
footer {
  bottom: 0;
}
header {
  top: 0;
}
