img#navbar-brand-logo {
  height: 30px;
  margin-right: 1rem;
}
h1, h2, h3 {
  color: #e33333;
  margin-top: 1.5rem;
}
h1 span.subtitle,
h2 span.subtitle,
h3 span.subtitle {
  color: #888;
}
.topic-img-logo {
  height: 200px;
  object-fit: contain;
}
img.resource-thumbnail {
  max-height: 15rem;
}
