
body {
  font-family: "Roboto", sans-serif;
}
header img {
  height: 100px;
  display: block;
  margin: 0 auto;
}
h2, h3 {
  color: #e33333;
}
.collapsible-header {
  background-color: #e57373;
}
li.panel-selector.panel-teacher-note {
  background-color: #ffebee;
}
img {
  max-width: 100%;
}
ul li {
  background-color: #e33333;
  padding: 2%;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  list-style: none;
}
ul li a {
  color: #fff;
}
ul li a:hover {
  color: #aaa;
}
