{% extends "base-educators.html" %}

{% block page_heading %}
  <div class="alert alert-warning" role="alert">
    <p class="h5 mb-1">Heads up!</p>
    <p class="mb-1">
      This view is here for <strong>development purposes
      only</strong>. This exists to show what content has been added, and to
      check what rendered markdown text looks like. The layout and links of each page
      in this view does not necessarily reflect what the main website actually
      looks like.
    </p>
  </div>
{% endblock page_heading %}
