{% extends "topics/base.html" %}

{% load i18n %}
{% load static %}


{% block content %}

  <h1>Topics</h1>

  {% if all_topics %}
    <ul>
      {% for topic in topics %}
        <li>Topic: {{ topic.name }}</li>
        <ul>
          {% with topicname=topic.name %}
            {% for unit_plan,value in unit_plans.items %}
              {% if unit_plan == topicname %}
                <li>Unit plan: {{ value.name }}</li>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </ul>
      {% endfor %}
    </ul>

  {% else %}
    <p>No topics are available.</p>
  {% endif %}

{% endblock %}
