{% extends "resources/base-resource.html" %}

<!-- Name of resource -->
{% block name %}{{ resource.name }}{% endblock name %}

<!-- Description of resource -->
{% block description %}
<p>This resource will show you how computers sort random numbers into order using
a thing called a sorting network.</p>
{% endblock description %}

{% block generation_form %}
  <fieldset>
    <legend>Prefill with Numbers</legend>
    <input type="radio" name="prefilled_values" id="none" value="blank" checked="checked">
    <label for="blank">None (Blank)</label>
    <br>
    <input type="radio" name="prefilled_values" id="easy" value="easy">
    <label for="size_easy">Easy Numbers (1 digit)</label>
    <br>
    <input type="radio" name="prefilled_values" id="medium" value="medium">
    <label for="medium">Medium Numbers (2 digits)</label>
    <br>
    <input type="radio" name="prefilled_values" id="hard" value="hard">
    <label for="hard">Hard Numbers (3 digits)</label>
  </fieldset>

  <fieldset>
    <legend>Paper Size</legend>
    <input type="radio" name="size" id="size_a4" value="a4" checked="checked">
    <label for="size_a4">A4</label>
    <br>
    <input type="radio" name="size" id="size_letter" value="letter">
    <label for="size_letter">US Letter</label>
  </fieldset>

  <fieldset>
    <legend>Number of Copies</legend>
    <input type="number" name="copies" value=1 min=1 max=50>
  </fieldset>
{% endblock generation_form %}
