<figure class="figure img-wrap{% if alignment == 'left' %} img-wrap-left{% elif alignment =='right' %} img-wrap-right{% endif %}">
<img src="{{ file_path }}"
class="figure-img"
{% if alt %} alt="{{ alt }}"{% endif %}
{% if hover_text %} title="{{ hover_text }}"{% endif %}>
{% if caption %}
<figcaption class="figure-caption text-center">
{% if caption_link %}
<a href="{{ caption_link }}">
{% endif %}
{{ caption }}
{% if caption_link %}
</a>
{% endif %}
</figcaption>
{% endif %}
{% if source_link %}
<figcaption class="figure-caption text-center">
<a href="{{ source_link }}">Source</a>
</figcaption>
{% endif %}
</figure>
