<figure class="figure{% if alignment == 'left' %} float-md-left{% elif alignment =='right' %} float-md-right{% else %} d-block text-center{% endif %}">
<img src="{{ file_path }}"
class="content-image figure-img img-fluid"
{% if alt %} alt="{{ alt }}"{% endif %}
{% if hover_text %} title="{{ hover_text }}"{% endif %}>
{% if caption %}
<figcaption class="figure-caption text-center">
{% if caption_link %}
<a href="{{ caption_link }}">
{% endif %}
{{ caption }}
{% if caption_link %}
</a>
{% endif %}
</figcaption>
{% endif %}
{% if source_link %}
<figcaption class="figure-caption text-center">
<a href="{{ source_link }}">Source</a>
</figcaption>
{% endif %}
</figure>
