$background-colour: #f8f9fa;

$ct-abstraction: #E30613;
$ct-algorithm: #0B983A;
$ct-decomposition: #E4AB0D;
$ct-evaluation: #0F70B7;
$ct-logic: #EA5B0C;
$ct-pattern: #82358C;

$educator-colour: #cc0423;
$at-home-colour: #00554E;
$plugging-it-in-colour: #3044b3;
$at-a-distance-colour: #800256;

$font-family-sans-serif: "Noto Sans", sans-serif;
$headings-font-family: "Sniglet", cursive;
