.educators-programming-challenge-number {
    font-size: 1.2rem;
}
.acc-programming-challenge {
    padding: 0.75rem;
}
.badge-outline {
    color: #3366ff;
    background-color: transparent;
    border: 1px solid #3366ff;
}
.badge-outline:hover {
    color: white;
    background-color: #3366ff;
    cursor: pointer;
}
.nav-item:hover {
    cursor: pointer;
}
