@import "bootstrap-overrides";

.trans-navbar {
    background-color: $red;
    transition: background-color .5s ease 0s;
}

.trans-navbar.trans {
    background-color: rgba(0,0,0,0);
    transition: background-color .5s ease 0s;
}

body {
  padding-top: 0px !important;
}
