@import "core-variables";

#page-footer {
    background-color: $plugging-it-in-colour;
}

.pii-navigation {
    color: $plugging-it-in-colour;
    border-color: $plugging-it-in-colour;
    
    &:hover {
        color: white;
        background-color: $plugging-it-in-colour;
    }
    
    &:focus, &:active, &.active {
        box-shadow: 0 0 0 .25rem #3044b33f; // This should be $plugging-it-in-colour at 25% opacity
    }
}
