@import "core-variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

#page-footer {
    background-color: $plugging-it-in-colour;
}

@include media-breakpoint-down(xs) {
    .navbar-plugging-it-in {
      padding: 0.25rem !important;
  
      .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
  
      #navbar-brand-logo {
        height: 1.6rem;
      }
  
      .navbar-brand {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        font-size: 1rem;
      }
    }
  }
