@import "node_modules/codemirror/lib/codemirror";

html,
body {
  height: 100%;
  width: 100%;
  background-color: #e9f1fc;
}

.programming__challenge-screen {
  height: 93%;
  width: 100%;
}

.programming__options {
  height: 7%;
  background-color: #28368f;
  color: white;
  margin-left: 0px;

  .progression-options {
    .btn {
      border-radius: 20px;
    }

    .prev {
      border: 2px solid white;
      color: white;
    }

    .prev:hover {
      color: #28368f;
      background-color: white;
    }

    .next {
      color: #28368f;
      background-color: #ffea00;
    }
  }

  .lesson-link {
    font-size: 20px;
  }

  .lesson-link:hover {
    cursor: pointer;
  }

  .lesson-nav {
    .btn {
      color: white;
      margin-right: 20px;
      font-size: 20px;
    }

    .btn:hover {
      color: white;
    }
  }

  p {
    color: white;
    margin-bottom: 0px !important;
  }
}

#sponsor-logos {
  display: none;
}

#page-footer {
  display: none;
}

.programming__challenge-screen {
  margin: 0px;
}

.programming__info-area {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  padding-left: 20px;
  
  .programming__info-area-content {
    background-color: white;
    overflow-y: scroll;
    padding: 1.25rem !important;
    height: 100%;
    width: 100%;
    border: 1px solid grey;
    border-radius: 15px;
  }

}

.programming__results {
  padding: 20px 10px !important;
  padding-right: 20px !important;

  .results-table {
    border: 1px solid grey;
    border-radius: 15px;
    background-color: white;

    .table {
      margin-bottom: 0px;
    }
  }
}

.programming__editor {
  height: 100%;
  padding: 20px 10px;

  .CodeMirror {
    height: 93%;
    margin: 0px;
    border: 1px solid grey;
    border-radius: 15px;
  }

  .programming__submit {
    height: 7%;

    .code_running_spinner {
      display: none;
      color: #5a9fffff;
      margin-right: 0.625rem;
    }

    .programming__submit_options {
      height: 100%;
      align-items: flex-end;
    
      .editor_button {
        border: none;
        background-color: #5a9fffff;
        color: white;
        height: 80%;
        padding: 0px 20px;
        margin: 0px 10px;
        border-radius: 20px;
        transition: ease-in;
      }

      .editor_button:hover {
        cursor: pointer;
        background-color: #1b7bffff;
      }

      #editor_run_button:disabled {
        background-color: #a4caffff;
        cursor: normal;
      }
    }
  }
}
