@import "node_modules/codemirror/lib/codemirror";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$student-colour: #3044b3;
$student-colour-light: #5a9fffff;
$scratch-flag-colour: #4cbf56;
$scratch-flag-border-colour: #4ab750;

html,
body {
  height: 100%;
  width: 100%;
  background-color: #e9f1fc;
}

.programming__challenge-screen {
  height: 100%;
  width: 100%;
  padding-bottom: 70px;
}

// Apply similar styles to the base text area while it loads
#codemirror_editor {
  height: 100%;
  border-radius: 15px;
  border: 1px solid grey;
}

.navbar-plugging-it-in {
  .container {
    max-width: 100%;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.programming__options {
  background-color: $student-colour;
  color: white;
  margin-left: 0px;
  position: fixed;
  bottom: 0;
  z-index: 1000;

  .progression-options {
    .btn {
      border-radius: 20px;
    }

    .progression-info {
      text-align: center;

      #challenge_progression_text {
        font-size: 20px;
      }
    }

    .prev {
      border: 2px solid white;
      color: white;
    }

    .prev:hover {
      color: $student-colour;
      background-color: white;
    }

    .next {
      color: $student-colour;
      background-color: white;
    }

    .next:hover {
      color: white;
      background-color: $student-colour;
      border-color: white;
    }
  }

  .lesson-link {
    font-size: 20px;
  }

  .lesson-link:hover {
    cursor: pointer;
  }

  .lesson-nav {
    .btn {
      color: white;
      margin-right: 20px;
      font-size: 20px;
    }

    .btn:hover {
      color: white;
    }
  }

  p {
    color: white;
    margin-bottom: 0px !important;
  }
}

#sponsor-logos {
  display: none;
}

#page-footer {
  display: none;
}

.programming__challenge-screen {
  margin: 0px;
}

.programming__info-area {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  #info-panel-heading {
    margin-left: 5px;
  }

  #lessons_nav_toggle:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  
  .programming__info-area-content {
    flex-shrink: 1;
    background-color: white;
    overflow-y: auto;
    padding: 1.25rem !important;
    max-height: 100%;
    width: 100%;
    border: 1px solid grey;
    border-radius: 15px;

    h1 {
      font-size: 2.0rem;
    }
  }

  // Removing the testing examples section from content (temporary).
  #testing-examples, #testing-examples + p, #testing-examples + p + table, #requirement {
    display: none;
  }

}

.programming__results {
  padding: 20px 10px !important;
  padding-right: 20px !important;

  .results-table {
    border: 1px solid grey;
    border-radius: 15px;
    background-color: white;
    max-height: 40%;

    .table {
      margin-bottom: 0px;
    }
  }

  .block-based-console {
    margin: 0px; 
    padding: 0.7rem; 
    overflow-y: auto; 
    flex-shrink: 1; 
    max-height: 30%; 
    background-color: white; 
    border: 1px solid grey; 
    border-radius: 15px;

    #block-based-console-content { 
      font-size: 87.5%;
      font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
  }

  
}

.pii-block-heading {
  color: #292b2c;
  font-size: 1.1em;
  font-weight: bolder;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 10px;
}

.programming__editor {
  height: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  
  .CodeMirror {
    flex-grow: 1;
    margin: 0px;
    border: 1px solid grey;
    border-radius: 15px;
  }

  .programming__submit {
    height: 55px;

    .code_running_spinner {
      display: none;
      color: $student-colour-light;
      margin-right: 0.625rem;
    }

    .programming__submit_options {
      height: 100%;
      align-items: flex-end;
    
      .editor_button {
        border: none;
        background-color: $student-colour-light;
        border: 2px solid $student-colour-light;
        color: white;
        height: 80%;
        padding: 0px 20px;
        margin: 0px 10px;
        border-radius: 20px;
        transition: ease-in;
        min-width: 100px;
      }

      .editor_button:hover, #download_button:hover {
        cursor: pointer;
        background-color: #1b7bffff;
        border: 2px solid #1b7bffff;
        color: white;
      }

      #download_button {
        border: 2px solid $student-colour-light;
        color: $student-colour-light; 
        background-color: transparent;
      }

      #blockly_editor_run_program_button {
        border: 2px solid $scratch-flag-border-colour;
        background-color: $scratch-flag-colour;
      }

      #editor_run_button:disabled {
        background-color: #a4caffff;
        border-color: #a4caffff;
        cursor: normal;
      }
    }
  }
}

.programming__results {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .results-table {
    flex-shrink: 1;
    overflow-y: auto;
  }

  .help-icon {
    height: 16px;
    width: 16px;
    color: white;
    background-color: #212529;
    border-radius: 8px;
    font-weight: bold;
    visibility: hidden;
  }
}

// For small devices
@include media-breakpoint-down(sm) { 
  .programming__results, .programming__editor, .programming__info-area {
    padding: 20px !important;
  }

  .programming__results {
    padding-bottom: 160px !important;
  }

  #walkthrough-btn-container {
    display: none; // The walkthrough is unnavigable on small screens
  }
}

// Side Drawer 
.sidenav {
  width: 0;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  margin-top: 50px;
  height: calc( 100vh - 50px );
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-box-shadow: 10px 0px 8px -3px rgba(0,1,17,0.27);
  -moz-box-shadow: 10px 0px 8px -3px rgba(0,1,17,0.27);
  box-shadow: 10px 0px 8px -3px rgba(0,1,17,0.27);

  .sidebar-headings {
    padding: 20px 0px;
    background-color: rgb(248, 249, 250);

    h5, p {
      margin-bottom: 0px;
    }
  
    h2, h5, p {
      padding-left: 20px;
    }
    
    h2:hover, p:hover {
      opacity: 0.8;
    }
  }

  p {
    padding-left: 20px;
  }

  a:hover {
    text-decoration: none;
  }

  hr {
    height: 3px;
    margin-top: 0px;
    background: $student-colour;
  }

  .challenges-heading {
    color: $student-colour;
    font-weight: bold;
  }

  .challenges-list {
    padding: 0px;

    .badge {
      margin-right: 10px;
      min-width: 40px;
      background-color: $student-colour;

      h5 {
        color: white;
        margin-bottom: 0px;
      }
    }

    .current-exercise {
      background-color: #e9f1fc;
    }
  
    .current-exercise:hover {
      background-color: #e9f1fc;
    }
  }
}

.sidenav li {
  padding: 12px 8px 12px 20px;
  text-decoration: none;
  font-size: 16px;
  color: rgb(33, 37, 41);
  display: block;
  transition: 0.3s;
}

.sidenav li:hover {
  background-color: #f4f7fcff;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 1004;
  color: $student-colour
}


#sidebar_overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #0f173aff;
  opacity: 0;
  overflow-x: hidden;
  // transition: opacity 0.5s;
}

.nav-row-info {
  padding: 0px;
  padding-left: 30px;

  p {
    margin-bottom: 0px;
    padding-left: 0px;
  }
}

// Status badges
.status-badge {
  border: 1px solid #343a40;
  color: #343a40;
  border-radius: 5px; 
  font-size: 10px;
  padding: 0px 5px !important;
  margin: 0px;
}

#walkthrough-btn-container {
  padding: 0px 15px !important;
}

#introjs-walkthrough {
  color: $student-colour-light;
  border-color: $student-colour-light;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    background-color: #1b7bffff;
    border-color: #1b7bffff;
    color: white;
  }
}

.introjs-fixParent{
  position: absolute !important;
}
