@import "bootstrap/functions";
@import "bootstrap/variables";
.ms-drop ul {
  margin-bottom: 0 !important;
}
.area-badge {
  display: inline-block;
  color: #fff;
  padding: 0 0.25em;
  border-radius: 4px;
}
.area-child {
  margin-left: 1.5em;
}
