@import "bootstrap/bootstrap";
@import "pygments-colorful";
@import "sticky-state";
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

$body-space-from-top: 72px;

img {
  &.content-image {
    max-height: 10em;
  }
  &.inline-image {
    max-height: 3rem;
  }
  &.inline-image-small {
    max-height: 1.4rem;
  }
}

h1 {
  color: $red;
}
h2 {
  color: $purple;
}
h3 {
  color: $green;
}
h4,
h5,
h6 {
  color: $gray;
}

.heading-underline {
  border-bottom: 2px solid $gray-lighter;
}

.subtitle {
  color: $gray-light;
}

input[type="text"].long-text-field {
  width: 20em;
}

div.plugged-in-language-implementation {
  border: 1px #e33333 solid;
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 0 1em 1em 1em;
}

.disable-selection {
  user-select: none;
}

$rounded-corner-radius: 0.5rem;

.jumbotron {
  background: linear-gradient( rgba($red,.7), rgba($red,.7) ), url("../img/sorting-network-photo.jpg");
  background-size: cover;
  border: $card-border-width solid darken($red, 10%);
  border-radius: $rounded-corner-radius;
  margin: 1rem 0;
  width: 100%;

  h1 {
    font-family: 'Patrick Hand', cursive;
    color: $white;
  }
}

.link-box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    align-content: stretch;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}

.link-box {
  border: 0.2em solid $blue;
  border-radius: $border-radius;
  overflow: hidden;
  padding: ($spacer-y * .5) ($spacer-x * .5);
  margin-bottom: $spacer-y;
  width: 100%;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &.link-box-md-3 {
    @include media-breakpoint-up(md) {
      width: 32%;
    }
  }
  &.link-box-lg-4 {
    @include media-breakpoint-up(lg) {
      width: 24%;
    }
  }
  img {
    max-height: 8rem;
  }
  h2,
  h3 {
    margin-bottom: 0;
    text-align: center;
    color: $gray;
  }
  &:hover {
    background-color: rgba($blue, 0.1);
  }
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
  }
}

@mixin link-box-colour-variant($color) {
  background-color: $color !important;
  border: 0.2em solid darken($color, 10%) !important;
  .link-box-title {
    color: $white !important;
  }
  &:hover {
    background-color: darken($color, 6%) !important;
  }
}

.link-box-red {
  @include link-box-colour-variant($red);
}
.link-box-orange {
  @include link-box-colour-variant($orange);
}
.link-box-yellow {
  @include link-box-colour-variant($yellow);
}
.link-box-green {
  @include link-box-colour-variant($green);
}
.link-box-light-blue {
  @include link-box-colour-variant($light-blue);
}
.link-box-blue {
  @include link-box-colour-variant($blue);
}
.link-box-teal {
  @include link-box-colour-variant($teal);
}
.link-box-pink {
  @include link-box-colour-variant($pink);
}
.link-box-purple {
  @include link-box-colour-variant($purple);
}

.navbar {
  background-color: $white;
  border-bottom: 2px $red solid;

  #navbar-brand-logo {
    height: 2.5em;
    margin-right: 1rem;
  }

  .navbar-nav .nav-link {
    font-weight: 500;
    border: 1px $white solid;
    border-radius: 0.3rem;
    &:hover {
      border-color: $red;
    }
  }
}

.white-footer {
  border-top: 2px $red solid;
}

footer {
  background-color: $red;
  color: rgba($white, 0.8);
  a {
    color: $white;
    @include hover-focus {
      color: $white;
    }
  }
}

.glossary-term {
  border-bottom: 1px $gray dotted;
  cursor: help;
}

.boxed-text {
  border: 2px dashed $gray-light;
  border-radius: $border-radius;
  margin-bottom: $spacer-y;

  .boxed-text-content {
    margin: ($spacer-y * .5) ($spacer-x * .5);
  }
}

.boxed-text-indented {
  margin-left: 1em;
}

@mixin detail-colour-variant($color) {
  > summary {
    background-color: hsl(hue($color), saturation($color), 90%) !important;
    color: $color !important;
    .inline-image {
      margin: 0.2rem 0.2rem 0.2rem auto;
    }
  }
}

details {
  @extend .boxed-text;
  overflow: hidden;

  summary {
    background-color: $gray-lighter;
    color: $gray-dark;
    cursor: pointer;
    font-size: 1.1em;
    padding: ($spacer-y * .25) ($spacer-x * .25) ($spacer-y * .25) $spacer-x;
    display: flex;
    align-items: center;
  }
  summary:hover {
    background-color: darken($gray-lighter, 10%);
  }
  &.panel-ct-abstraction {
    @include detail-colour-variant(#E30613);
  }
  &.panel-ct-algorithm {
    @include detail-colour-variant(#0B983A);
  }
  &.panel-ct-decomposition {
    @include detail-colour-variant(darken(#FFDD0E, 10%));
  }
  &.panel-ct-evaluation {
    @include detail-colour-variant(#0F70B7);
  }
  &.panel-ct-logic {
    @include detail-colour-variant(#EA5B0C);
  }
  &.panel-ct-pattern {
    @include detail-colour-variant(#82358C);
  }
}

.difficulty-level {
  color: white;
}
.difficulty-level-{
  &1 {
    background-color: $blue;
  }
  &2 {
    background-color: $green;
  }
  &3 {
    background-color: $red;
  }
}

.embed-responsive {
   margin: $spacer-y 0;
}

.badge- {
  &pink {
    background-color: $pink;
  }
  &green {
    background-color: $green;
  }
  &orange {
    background-color: $orange;
  }
  &teal {
    background-color: $teal;
  }
  &blue {
    background-color: $blue;
  }
  &light-purple {
    background-color: $light-purple;
  }
  &purple {
    background-color: $purple;
  }
  &yellow {
    background-color: $yellow;
  }
  &red {
    background-color: $red;
  }
}

body {
  padding-top: $body-space-from-top;
  position: relative;
}

#sticky-sidebar {
  top: $body-space-from-top;
}
.sticky-top {
  z-index: 1020;
}

.table.table-center-vertical th,
.table.table-center-vertical td {
    vertical-align: middle;
}
.table-success-cell {
  background-color: lighten($green, 40%);
}

#scrollspy-table-of-contents .nav-link {
  font-size: 0.9rem;
  padding: ($spacer-y * .25) $spacer-x;
}

#content-container table:not(.table) {
  display: block;
  margin-bottom: 1rem;
  max-width: 100%;
  overflow-x: auto;
  width: 100%;
  text-align: center;
  tr, th {
    padding: ($spacer-x * .75);
  }
  th {
    color: #464a4c;
    background-color: #eceeef;
    border-bottom: 2px solid #eceeef;
    text-align: center;
    vertical-align: middle;
  }
  tr {
    border-top: 1px solid #eceeef;
    vertical-align: middle;
  }
}

.inline-scratch {
  display: inline;
  vertical-align: middle;
}

.border-thin {
  border: 1px solid #ddd;
  border-radius: 3px;
}

.background-csfg {
  background-color: #2b387c;
}

@include media-breakpoint-down("sm") {
  .navbar-toggleable-sm > .container {
    width: 100%;
  }
}

.table-text-emphasis {
  font-weight: bold;
  font-size: 1.4rem;
}
