@import "bootstrap/bootstrap";
@import "pygments-monokai";
@import "sticky-state";
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

img {
  &.plugged-in-language-icon {
    height: 3em;
  }
  &.content-image {
    max-height: 10em;
  }
}

h1 {
  color: $red;
}
h2 {
  color: $purple;
}
h3 {
  color: $green;
}
h4,
h5,
h6 {
  color: $gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: 2px solid $gray-lighter;
}

.subtitle {
  color: $gray-light;
}

input[type="text"].long-text-field {
  width: 20em;
}

div.plugged-in-language-implementation {
  border: 1px #e33333 solid;
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 0 1em 1em 1em;
}

.disable-selection {
  user-select: none;
}

$rounded-corner-radius: 0.5rem;

.jumbotron {
  background: linear-gradient( rgba($red,.7), rgba($red,.7) ), url("../img/sorting-network-photo.jpg");
  background-size: cover;
  border: $card-border-width solid darken($red, 10%);
  border-radius: $rounded-corner-radius;
  margin: 1rem 0;
  width: 100%;

  h1 {
    font-family: 'Patrick Hand', cursive;
    color: $white;
  }
}
.card-deck {
  width: 100%;
}

.card {
  padding: 0.3rem;
  border-color: #ababab;
  margin-bottom: 15px !important;
  .card-title {
    margin: 0.2rem;
  }
  .card-img {
    height: 100px;
    object-fit: contain;
  }
}

@mixin card-link-variant($color) {
  border-color: darken($color, 10%);
  background-color: $color;
  .card-title {
    color: $white;
  }
  &:hover {
    background-color: lighten($color, 30%);
    .card-title {
      color: darken($color, 10%);
    }
    text-decoration: none;
  }
}

.card-red {
  @include card-link-variant($red);
}
.card-orange {
  @include card-link-variant($orange);
}
.card-yellow {
  @include card-link-variant($yellow);
}
.card-green {
  @include card-link-variant($green);
}
.card-light-blue {
  @include card-link-variant($light-blue);
}
.card-blue {
  @include card-link-variant($blue);
}
.card-teal {
  @include card-link-variant($teal);
}
.card-pink {
  @include card-link-variant($pink);
}
.card-purple {
  @include card-link-variant($purple);
}

.navbar {
  background-color: $white;
  border-bottom: 2px $red solid;

  #navbar-brand-logo {
    height: 2.5em;
    margin-right: 1rem;
  }

  .navbar-nav .nav-link {
    font-weight: 500;
    border: 1px $white solid;
    border-radius: 0.3rem;
    &:hover {
      border-color: $red;
    }
  }
}

.white-footer {
  border-top: 2px $red solid;
}

footer {
  background-color: $red;
  color: rgba($white, 0.8);
  a {
    color: $white;
  }
}

.glossary-term {
  border-bottom: 1px black dotted;
  cursor: help;
}

.boxed-text {
  border: 1px solid $gray;
  border-radius: $border-radius;
  margin-bottom: $spacer-y;

  .boxed-text-content {
    margin: ($spacer-y * .5) ($spacer-x * .5);
  }
}

.boxed-text-indented {
  margin-left: 1em;
}

details {
  @extend .boxed-text;
  overflow: hidden;

  summary {
    background-color: $gray-lightest;
    cursor: pointer;
    font-size: 1.1em;
    padding: ($spacer-y * .25) ($spacer-x * .25);
  }
  summary:hover {
    background-color: $gray-lighter;
  }
}

.difficulty-level {
  color: white;
}
.difficulty-level-{
  &1 {
    background-color: $blue;
  }
  &2 {
    background-color: $green;
  }
  &3 {
    background-color: $red;
  }
}

.embed-responsive {
   margin: $spacer-y 0;
}

.badge- {
  &pink {
    background-color: $pink;
  }
  &green {
    background-color: $green;
  }
  &orange {
    background-color: $orange;
  }
  &teal {
    background-color: $teal;
  }
  &blue {
    background-color: $blue;
  }
  &light-purple {
    background-color: $light-purple;
  }
  &purple {
    background-color: $purple;
  }
  &yellow {
    background-color: $yellow;
  }
  &red {
    background-color: $red;
  }
}

$body-space-from-top: 72px;

body {
  padding-top: $body-space-from-top;
  position: relative;
}

#sticky-sidebar {
  top: $body-space-from-top;
}
.sticky-top {
  z-index: 1020;
}
