{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}
  Search
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Search" "search:haystack_search" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h2>Search</h2>
{% endblock page_heading %}

{% block content %}
  <form method="get" action=".">
    <div class="form-group">
      <input id="form-query-text" class="form-control form-control-lg" name="q" aria-describedby="form-query-text-help">
      <small id="form-query-text-help" class="form-text text-muted">
        Leave blank to search all items.
      </small>
    </div>

    <!-- <div class="form-group">
      {% for area in form.curriculum_areas %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="{{ option.id_for_label }}" value="option1" />
          <label class="form-check-label" for=" {{ area.id_for_label }}">
            <span class="badge badge-default badge-{{ area.colour }}">
              {{ area }}
            </span>
          </label>
        </div>
      {% endfor %}
    </div> -->

    <button type="submit" class="btn btn-primary">Search</button>
  </form>

    {% if object_list %}
        <h3>Results</h3>

        <p><em>Showing {% if is_paginated %}results {{ page_obj.start_index }} to {{ page_obj.end_index }} of {% endif %}{{ paginator.count }} results</em></p>

        {% for result in page_obj.object_list %}
            <p>
              {{ result.object.model_type }} -
                <a href="{{ result.object.get_absolute_url }}">
                  {{ result.object.name }}
                </a>
              {% if not DEPLOYED %}
                <small class="text-muted">{{ result.score|floatformat:3 }}</small>
              {% endif %}
            </p>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page_obj.has_previous or page_obj.has_next %}
            <div>
                {% if page_obj.has_previous %}
                  <a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">&laquo; Previous page</a>
                {% endif %}
                {% if page_obj.has_previous and page_obj.has_next %}
                |
                {% endif %}
                {% if page_obj.has_next %}
                  <a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">Next page &raquo;</a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock content %}
