{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load widget_tweaks %}

{% block title %}
  Search
{% endblock title %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Search" "search:haystack_search" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  <h2>Search</h2>
{% endblock page_heading %}

{% block content %}
  <form method="get" action="." class="mb-3">

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-group">

      {% if form.is_bound %}
        {% if form.q.errors %}
          {% render_field form.q class="form-control is-invalid" aria-describedby="form-query-text-help" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field form.q class="form-control is-valid" aria-describedby="form-query-text-help" %}
        {% endif %}
      {% else %}
        {% render_field form.q class="form-control" aria-describedby="form-query-text-help" %}
      {% endif %}

      <small id="form-query-text-help" class="form-text text-muted">
        Leave blank to search all items.
      </small>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-6">
        <label class="font-weight-bold">Search in:</label>
        <select id="models-select2" name="models" class="d-none" multiple="multiple"></select>
      </div>

      <div class="col-12 col-md-6">
        <label class="font-weight-bold">Filter by curriculum areas:</label>
        <select id="areas-select2" name="curriculum_areas" class="d-none" multiple="multiple"></select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" name="page" value="1">Search</button>

    {% if object_list or query %}
      <h3>Results</h3>

      {% if object_list %}
        <p><em>Showing {% if is_paginated %}results {{ page_obj.start_index }} to {{ page_obj.end_index }} of {% endif %}{{ paginator.count }} results</em></p>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              {% if not DEPLOYED %}
                <th>Score</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for result in page_obj.object_list %}
              <tr>
                {% with object=result.object %}
                  <td>
                    {{ object.model_type }}
                  </td>
                  <td>
                    {% with template="search/result/"|add:result.model_name|add:".html" %}
                      {% include template %}
                    {% endwith %}
                  </td>
                {% endwith %}

                {% if not DEPLOYED %}
                  <td>
                    <small class="text-muted">
                      {{ result.score|floatformat:3 }}
                    </small>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if page_obj.has_previous or page_obj.has_next %}
        <div>
          {% if page_obj.has_previous %}
            <button type="submit" class="btn btn-link" name="page" value="{{ page_obj.previous_page_number }}">&laquo; Previous page</button>
          {% endif %}
          {% if page_obj.has_previous and page_obj.has_next %}
            |
          {% endif %}
          {% if page_obj.has_next %}
            <button type="submit" class="btn btn-link" name="page" value="{{ page_obj.next_page_number }}">Next page &raquo;</button>
          {% endif %}
        </div>
      {% endif %}
    {% else %}
      <p>No results found.</p>
    {% endif %}
  </form>

  {% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/i18n/en.js"></script>
  <script type="text/javascript">
    var model_data = [
      {% for model in models %}
        {
          "id": "{{ model.value }}",
          "text": "{{ model.name }}",
          "selected": {{ model.selected }},
        },
      {% endfor %}
    ];
    var area_data = [
      {% for area in curriculum_areas %}
        {
          "id": {{ area.pk }},
          "text": "{% if area.parent__name %}{{ area.parent__name }}: {% endif %}{{ area.name }}",
          "colour": "{{ area.colour }}",
          "selected": {{ area.selected|default:"false" }},
        },
      {% endfor %}
    ];

    function formatArea (area) {
      if (!area.id) {
        return area.text;
      } else {
        return $('<span class="px-1 text-white rounded badge-' + area.colour + '">' + area.text + '</span>');
      }
    };

    $(document).ready(function() {
      $("#models-select2").select2({
        data: model_data,
        width: "100%",
      });
      $("#areas-select2").select2({
        data: area_data,
        templateSelection: formatArea,
        templateResult: formatArea,
        width: "100%",
      });
    });
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" type="text/css" media="screen" rel="stylesheet" />
{% endblock scripts %}
