{% load static %}
{% load i18n %}

<html>
<head>
    <title>{{ filename }}</title>
</head>
<body class="paper-{{ paper_size }}">
    <div id="slides">
        <h1>{{ lesson.name }} (Speaker Notes)</h1>
        {% for slide in slides %}
            <div class="slide">
                <h2>Slide {{slide.number }}</h2>
                <img src="{{ slide.image }}" class="slide-thumbnail">
                <div class="speaker-notes">
                    {% if slide.notes %}
                        {{ slide.notes|safe }}
                    {% else %}
                        <span class="text-muted">
                            No speaker notes for this slide.
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <footer class="fixed-running-element">
        <img src="./img/cs-unplugged-logo-at-a-distance.svg"> {{ lesson.name }} (Speaker Notes) - csunplugged.org
    </footer>
</body>
</html>
