{% load static %}

<div id="slides" class="{% if embed %}embed-responsive embed-responsive-16by9{% else %}w-100 h-100{% endif %}">
    <div class="reveal{% if embed %} embed-responsive-item{% endif %}">
        <div class="slides">
            <section class="r-title-slide r-centered" data-background-color="#cc0423">
                <h2 class="r-text-white">CS Unplugged - At a Distance</h1>
                <h1 class="r-text-white">{{ lesson.name }}</h1>
            </section>

            {% include lesson.get_slides_path %}
        </div>

        <div class="footer">
            <img src="{% static 'img/cs-unplugged-logo-at-a-distance-white.svg' %}">
            <span class="slides-title">{{ lesson.name }}</span>
        </div>
    </div>
</div>
